.login-page {
	background: #29a94a;
}

.login-logo a, .register-logo a {
	color: #FFFFFF;
}

.contentRelative {
	position: relative;
}

.has-error .select2-selection {
    border: 1px solid #dd4b39;
}

.thumb {
    width: 100px;
    float: none;
    margin-top: 10px;
    margin-right: 10px;
}

.datepicker {
	padding-left: 10px;
}

.daterange-form {
	width: 350px;
}

.status-form {
	width: 250px;
	margin-right: 5px;
}

.detail-content {
	padding: 20px;
}

.disabled {
	color: #777777;
}

.status-active {
	color: #00a65a;
}

.status-nonactive {
	color: #d73925;
}