<div class="box-header">
	<h3 class="box-title">Tambah Umroh</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="name" placeholder="Input Nama">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorMeca }">
		<label for="name" class="col-sm-2 control-label">Lokasi ziarah di makkah</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="obj.mecca_pilgrimage_list" placeholder="Input lokasi ziarah di makkah">
		</div>
	</div>
	
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorImg }">
		<label for="image" class="col-sm-2 control-label">Gambar</label>
		
		<div class="col-sm-10">
			<label class="btn btn-primary" for="imgFile">
				<input type="file" ng-model="imgFile" name="imgFile" id="imgFile" accept="image/*" maxsize="2000" style="display:none;" base-sixty-four-input>
				Browse
			</label>

			<span class="text-muted" ng-if="imgFile == null">*Ukuran yang dianjurkan 47 x 47 (.svg atau .png)</span>
			<span class="text-muted" ng-if="imgFile">{{ imgFile.filename }}</span>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorCity }">
		<label for="city" class="col-sm-2 control-label">Kota</label>

		<div class="col-sm-10">
			<select ui-select2 ng-model="city" name="city" id="city" class="form-control">
				<option></option>
				<option ng-repeat="city in cities" value="{{ city.name }}">{{ city.name }}</option>
			</select>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorDeparture }">
		<label for="departure" class="col-sm-2 control-label">Keberangkatan</label>

		<div class="col-sm-10">
			<input type="text" id="departure" class="form-control datepicker" ng-model="departure" placeholder="Input Keberangkatan">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorDepartDate }">
		<label for="name" class="col-sm-2 control-label">Tanggal keberangkatan</label>
		<div class="col-sm-10" id="multi-date">
			<div class="row">
				<div class="col-md-5">
					<uib-datepicker ng-model='activeDate' multi-select='selectedDates' select-range='{{type=="range"}}'></uib-datepicker>
				</div>
				<div class="col-md-5">
					Tanggal yang dipilih:
					<div class='well well-sm'>
						<div ng-repeat='d in selectedDates'>
							{{d | date : 'fullDate'}}
							<button class='btn btn-xs btn-warning' style='margin:5px' ng-click='removeFromSelected(d)'>Remove</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorQuad }">
		<label for="name" class="col-sm-2 control-label">Harga kamar quad</label>

		<div class="col-sm-10">
			<input type="number" id="name" class="form-control" ng-model="quad_price" placeholder="Harga kamar quad">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPrice }">
		<label for="price" class="col-sm-2 control-label">Harga</label>

		<div class="col-sm-10">
			<input type="text" id="price" class="form-control" ng-model="price" placeholder="Input Harga" format="number">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPacket }">
		<label for="packet" class="col-sm-2 control-label">Paket</label>

		<div class="col-sm-10">
			<select ui-select2 ng-model="packet" name="packet" id="packet" class="form-control">
				<option></option>
				<option value="Umroh Reguler">Umroh Reguler</option>
				<option value="Umroh Plus">Umroh Plus</option>
				<option value="Wisata Muslim">Wisata Muslim</option>
			</select>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorQuota }">
		<label for="quota" class="col-sm-2 control-label">Kuota</label>

		<div class="col-sm-10">
			<input type="number" id="quota" class="form-control" ng-model="quota" placeholder="Input Kuota">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPlane }">
		<label for="plane" class="col-sm-2 control-label">Pesawat</label>

		<div class="col-sm-10">
			<input type="text" id="plane" class="form-control" ng-model="plane" placeholder="Input Pesawat">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorHotel }">
		<label for="hotel" class="col-sm-2 control-label">Rate Hotel</label>

		<div class="col-sm-10">
			<input type="number" id="hotel" class="form-control" ng-model="hotel" placeholder="Input Rate Hotel">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPhone }">
		<label for="phone" class="col-sm-2 control-label">Nomor Telepon</label>

		<div class="col-sm-10">
			<input type="text" id="phone" class="form-control" ng-model="phone" placeholder="Input Nomor Telepon">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorTravelagency }" >
		<label for="type" class="col-sm-2 control-label">Travel Agency</label>

		<div class="col-sm-10">
			<select ui-select2 ng-model="obj.travelagent_id" name="type" id="type" class="form-control" ng-options="agent.id as agent.name for agent in agents">
			</select>
		</div>
	</div>
	
	<div class="form-group has-feedback">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox" id="status" name="status">
				<label>
					<input type="checkbox" ng-model="status"> Aktif
				</label>
			</div>
		</div>
	</div>

	<textarea ck-editor ng-model="content"></textarea>
</div>

<div class="box" ng-class="{ 'has-error' : errorPdf }">
	<div class="box-header with-border">
		<h3 class="box-title col-sm-3">Upload</h3>
	</div>
	<div class="box-body form-horizontal">
		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPdf }">
			<label for="pdfFile" class="col-sm-2 control-label">Pdf</label>

			<div class="col-sm-10">
				<label class="btn btn-primary" for="pdfFile">
					<input type="file" ng-model="pdfFile" name="pdfFile" id="pdfFile" accept="application/pdf" style="display:none;" base-sixty-four-input>
					Browse
				</label>

				<span class="text-muted" ng-if="pdfFile == null">Pilih file</span>
				<span class="text-muted" ng-if="pdfFile">{{ pdfFile.filename }}</span>
			</div>
		</div>
	</div>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>

	<div class="pull-right">
		<button class="btn btn-primary" ng-click="insertUmroh()" type="button">Submit</button>
	</div>
</div>