<div class="box-header">
	<h3 class="box-title">Detail Umroh</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="umroh.name" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="image" class="col-sm-2 control-label">Gambar</label>
		
		<div class="col-sm-10">
			<img ng-src="{{ baseUrl + umroh.img }}" width="55px">
		</div>

		<!-- <div class="col-sm-offset-2 col-sm-10">
			<img ng-if="imgFile == null" class="thumb" ng-src="{{ umroh.img }}">
			<img ngf-thumbnail="imgFile" class="thumb"> <button ng-click="imgFile = null" ng-show="imgFile" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div> -->
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorCity }">
		<label for="city" class="col-sm-2 control-label">Kota</label>

		<div class="col-sm-10">
			<input type="text" id="city" class="form-control" ng-model="umroh.city" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorDeparture }">
		<label for="departure" class="col-sm-2 control-label">Keberangkatan</label>

		<div class="col-sm-10">
			<input type="text" id="departure" class="form-control datepicker" ng-model="departure" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPrice }">
		<label for="price" class="col-sm-2 control-label">Harga</label>

		<div class="col-sm-10">
			<input type="text" id="price" class="form-control" ng-model="umroh.price" format="number" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPacket }">
		<label for="packet" class="col-sm-2 control-label">Paket</label>

		<div class="col-sm-10">
			<input type="text" id="packet" class="form-control" ng-model="umroh.packet" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorQuota }">
		<label for="quota" class="col-sm-2 control-label">Kuota</label>

		<div class="col-sm-10">
			<input type="number" id="quota" class="form-control" ng-model="umroh.quota" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPlane }">
		<label for="plane" class="col-sm-2 control-label">Pesawat</label>

		<div class="col-sm-10">
			<input type="text" id="plane" class="form-control" ng-model="umroh.plane" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorHotel }">
		<label for="hotel" class="col-sm-2 control-label">Rate Hotel</label>

		<div class="col-sm-10">
			<input type="number" id="hotel" class="form-control" ng-model="umroh.hotel" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPhone }">
		<label for="phone" class="col-sm-2 control-label">Nomor Telepon</label>

		<div class="col-sm-10">
			<input type="text" id="phone" class="form-control" ng-model="umroh.phone" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="status" class="col-sm-2 control-label">Status</label>

		<div class="col-sm-10">
			<input type="text" id="status" class="form-control" ng-model="umroh.status" readonly>
		</div>
	</div>
	<div class="form-group has-feedback">
		<label for="status" class="col-sm-2 control-label">Itinerary</label>

		<div class="col-sm-10">
			<a href="{{ baseUrl + umroh.pdf_file_name}}" target="_blank">Itinerary</a>
		</div>
	</div>

	<div class="detail-content" ng-bind-html="renderHtml(umroh.content)"></div>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>
</div>
