<div class="box-header">
	<h3 class="box-title">Data User</h3>
	
	<span class="pull-right">
		<!-- <a ui-sref="app.user.create">	
			<button class="btn btn-primary">
				<i class="fa fa-plus"></i> Tambah
			</button>
		</a> -->

		<span class="pull-right">
			<button class="btn btn-primary" type="button" ng-csv="getArray" csv-header="['No.', 'Nama', 'Model', 'No.Telp', 'Email', 'Alamat']" filename="userdevice.csv">
				<i class="fa fa-file-excel-o"></i> Export
			</button>

			<button class="btn btn-success" ng-click="reloadData()">
				<i class="fa fa-refresh"></i> Refresh
			</button>
		</span>
	</span>
</div>

<div class="box-body">
	<!-- <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-hover"></table> -->
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>No</th>
				<th>Nama</th>
				<th>Model</th>
				<th>Nomor Telepon</th>
				<th>Email</th>
				<th>Aksi</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="(key, user) in users">
				<td>{{ key+1+((currentPage-1)*limit) }}</td>
				<td>{{ user.name }}</td>
				<td>{{ user.device }}</td>
				<td>{{ user.phone }}</td>
				<td>{{ user.email }}</td>
				<td>
					<!--<button class="btn btn-primary btn-xs btn-block" ng-click="navigateTo('app.user.edit', user)"><i class="fa fa-pencil-square-o"></i> Edit</button>-->
					<button class="btn btn-danger btn-xs btn-block" ng-click="destroyUser(user.id)"><i class="fa fa-trash-o"></i> Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="box-footer clearfix" ng-if="pages.length > 0">
	<ul class="pagination pagination-sm no-margin pull-right">
		<li><a href ng-click="gotoPage(1)">&laquo;</a></li>
		<li ng-repeat="page in pages"><a href ng-click="gotoPage(page)">{{ page }}</a></li>
		<li><a href ng-click="gotoPage(last)">&raquo;</a></li>
	</ul>
</div>