<div class="box-header">
	<h3 class="box-title">Tambah Properti</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="name" placeholder="Input Nama">
		</div>
	</div>
	
	<div id="divImg">
		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorImg0}">
			<label for="image" class="col-sm-2 control-label">Gambar</label>
			
			<div class="col-sm-10">
				<label class="btn btn-primary" for="file0">
					<!-- <input type="file" ngf-select ng-model="imgFile[0]" name="file0" id="file0" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" style="display:none;"> -->
					<input type="file" ng-model="imgFile[0]" name="file0" id="file0" accept="image/*" maxsize="2000" style="display:none;" base-sixty-four-input>
					Browse
				</label>

				<button class="btn btn-flat btn-primary" id="btn-add" type="button" ng-click="addImg()">
					<i class="fa fa-plus"></i>
				</button>

				<span class="text-muted" ng-if="imgFile[0] == null">*Ukuran yang dianjurkan 360 x 240 (.jpg)</span>
				<span class="text-muted" ng-if="imgFile[0]">{{ imgFile[0].filename }}</span>
			</div>

			<!-- <div class="col-sm-offset-2 col-sm-10">
				<img ngf-thumbnail="imgFile[0]" class="thumb"> <button ng-click="imgFile[0] = null" ng-show="imgFile[0]" type="button" class="btn btn-xs btn-danger">Remove</button>
			</div> -->

			<div class="col-sm-offset-2 col-sm-10" ng-if="imgFile[0]">
				<img ng-src="data:image;base64,{{ imgFile[0].base64 }}" class="thumb">
			</div>
		</div>
	</div>

	<!-- <div class="form-group has-feedback" ng-class="{ 'has-error' : errorImg2 }">
		<div class="col-sm-offset-2 col-sm-10">
			<label class="btn btn-primary" for="file2">
				<input type="file" ngf-select ng-model="imgFile2" name="file2" id="file2" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" style="display:none;">
				<input type="file" ng-model="imgFile2" name="file2" id="file2" accept="image/*" maxsize="2000" style="display:none;" base-sixty-four-input>
				Browse
			</label>

			<span class="text-muted" ng-if="imgFile2 == null">*Ukuran yang dianjurkan 360 x 240 (.jpg)</span>
			<span class="text-muted" ng-if="imgFile2">{{ imgFile2.filename }}</span>
		</div>

		<div class="col-sm-offset-2 col-sm-10">
			<img ngf-thumbnail="imgFile2" class="thumb"> <button ng-click="imgFile2 = null" ng-show="imgFile2" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div>
	</div> -->

	<!-- <div class="form-group has-feedback" ng-class="{ 'has-error' : errorImg3 }">
		<div class="col-sm-offset-2 col-sm-10">
			<label class="btn btn-primary" for="file3">
				<input type="file" ngf-select ng-model="imgFile3" name="file3" id="file3" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" style="display:none;">
				<input type="file" ng-model="imgFile3" name="file3" id="file3" accept="image/*" maxsize="2000" style="display:none;" base-sixty-four-input>
				Browse
			</label>

			<span class="text-muted" ng-if="imgFile3 == null">*Ukuran yang dianjurkan 360 x 240 (.jpg)</span>
			<span class="text-muted" ng-if="imgFile3">{{ imgFile3.filename }}</span>
		</div>

		<div class="col-sm-offset-2 col-sm-10">
			<img ngf-thumbnail="imgFile3" class="thumb"> <button ng-click="imgFile3 = null" ng-show="imgFile3" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div>
	</div> -->

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorAddress }">
		<label for="address" class="col-sm-2 control-label">Alamat</label>

		<div class="col-sm-10">
			<textarea name="address" id="address" class="form-control" rows="3" ng-model="address" placeholder="Input Alamat"></textarea>
		</div>
	</div>

	<!-- <div class="form-group has-feedback" ng-class="{ 'has-error' : errorCity }">
		<label for="city" class="col-sm-2 control-label">Kota</label>

		<div class="col-sm-10">
			<input type="text" id="city" class="form-control" ng-model="city" placeholder="Input Kota">
		</div>
	</div> -->

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorCity }">
		<label for="city" class="col-sm-2 control-label">Kota</label>

		<div class="col-sm-10">
			<select ui-select2 ng-model="city" name="city" id="city" class="form-control">
				<option></option>
				<option ng-repeat="city in cities" value="{{ city.name }}">{{ city.name }}</option>
			</select>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPrice }">
		<label for="price" class="col-sm-2 control-label">Harga</label>

		<div class="col-sm-10">
			<input type="text" id="price" class="form-control" ng-model="price" placeholder="Input Harga" format="number">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorLocation }">
		<label for="location" class="col-sm-2 control-label">Lokasi</label>

		<div class="col-sm-10">
			<input type="text" id="location" class="form-control" ng-model="location" placeholder="Input Lokasi">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorSurfaceArea }">
		<label for="surface_area" class="col-sm-2 control-label">Luas Tanah</label>

		<div class="col-sm-10">
			<input type="number" id="surface_area" class="form-control" ng-model="surface_area" placeholder="Input Luas Tanah">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorBuildingArea }">
		<label for="building_area" class="col-sm-2 control-label">Luas Bangunan</label>

		<div class="col-sm-10">
			<input type="number" id="building_area" class="form-control" ng-model="building_area" placeholder="Input Luas Bangunan">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorAuctionDate }">
		<label for="auction_date" class="col-sm-2 control-label">Tanggal Lelang</label>

		<div class="col-sm-10">
			<input type="text" id="auction_date" class="form-control datepicker" ng-model="auction_date" placeholder="Input Tanggal Lelang">
		</div>
	</div>

	<div class="form-group has-feedback">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox" id="status" name="status">
				<label>
					<input type="checkbox" ng-model="status"> Aktif
				</label>
			</div>
		</div>
	</div>

	<textarea ck-editor ng-model="info"></textarea>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>

	<div class="pull-right">
		<button class="btn btn-primary" ng-click="insertProperty()" type="button">Submit</button>
	</div>
</div>
