<div class="box-header">
	<h3 class="box-title">Detail Properti</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="property.name" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-repeat="img in imgLen">
		<label for="image" class="col-sm-2 control-label" ng-if="img == 0">Gambar</label>
		
		<div class="col-sm-10" ng-if="img == 0">
			<img ng-src="{{ baseUrl + property.img[img] }}" width="150px">
		</div>

		<div class="col-sm-offset-2 col-sm-10" ng-if="img > 0">
			<img ng-src="{{ baseUrl + property.img[img] }}" width="150px">
		</div>

		<!-- <div class="col-sm-offset-2 col-sm-10">
			<img ng-if="imgFile1 == null" class="thumb" ng-src="{{ property.img }}">
			<img ngf-thumbnail="imgFile1" class="thumb"> <button ng-click="imgFile1 = null" ng-show="imgFile1" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div> -->
	</div>
	
	<!-- <div class="form-group has-feedback">
		<div class="col-sm-offset-2 col-sm-10">
			<img ng-src="data:image;base64,{{ property.img[1] }}" width="150px">
		</div>

		<div class="col-sm-offset-2 col-sm-10">
			<img ng-if="imgFile2 == null" class="thumb" ng-src="{{ property.img }}">
			<img ngf-thumbnail="imgFile2" class="thumb"> <button ng-click="imgFile2 = null" ng-show="imgFile2" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div>
	</div> -->

	<!-- <div class="form-group has-feedback">
		<div class="col-sm-offset-2 col-sm-10">
			<img ng-src="data:image;base64,{{ property.img[2] }}" width="150px">
		</div>

		<div class="col-sm-offset-2 col-sm-10">
			<img ng-if="imgFile3 == null" class="thumb" ng-src="{{ property.img }}">
			<img ngf-thumbnail="imgFile3" class="thumb"> <button ng-click="imgFile3 = null" ng-show="imgFile3" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div>
	</div> -->

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorAddress }">
		<label for="address" class="col-sm-2 control-label">Alamat</label>

		<div class="col-sm-10">
			<textarea name="address" id="address" class="form-control" rows="3" ng-model="property.address" readonly></textarea>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorCity }">
		<label for="city" class="col-sm-2 control-label">Kota</label>

		<div class="col-sm-10">
			<input type="text" id="city" class="form-control" ng-model="property.city" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPrice }">
		<label for="price" class="col-sm-2 control-label">Harga</label>

		<div class="col-sm-10">
			<input type="text" id="price" class="form-control" ng-model="property.price" readonly format="number">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorLocation }">
		<label for="location" class="col-sm-2 control-label">Lokasi</label>

		<div class="col-sm-10">
			<input type="text" id="location" class="form-control" ng-model="property.location" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorSurfaceArea }">
		<label for="surface_area" class="col-sm-2 control-label">Luas Tanah</label>

		<div class="col-sm-10">
			<input type="text" id="surface_area" class="form-control" ng-model="property.surface_area" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorBuildingArea }">
		<label for="building_area" class="col-sm-2 control-label">Luas Bangunan</label>

		<div class="col-sm-10">
			<input type="text" id="building_area" class="form-control" ng-model="property.building_area" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorAuctionDate }">
		<label for="auction_date" class="col-sm-2 control-label">Tanggal Lelang</label>

		<div class="col-sm-10">
			<input type="text" id="auction_date" class="form-control datepicker" ng-model="auction_date" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="status" class="col-sm-2 control-label">Status</label>

		<div class="col-sm-10">
			<input type="text" id="status" class="form-control" ng-model="property.status_" readonly>
		</div>
	</div>

	<div class="detail-content" ng-bind-html="renderHtml(property.info)"></div>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>
</div>
