<!-- ==header -->
<section class="content-header">
	<h1>
		Properti
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-building"></i> Home</a></li>
		<li class="active">Properti</li>
	</ol>
</section>

<!-- ==content -->
<section class="content">
	<div class="box box-primary">
		<div ui-view="propertyContent" bs-loading-overlay></div>
	</div>
</section>
