<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>HasanahLifestyle | Admin Page</title>
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<!-- DataTables -->
  	<link rel="stylesheet" href="plugins/datatables/css/dataTables.bootstrap.css">
  	<!-- Select2 -->
	<link rel="stylesheet" href="plugins/select2/select2.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="plugins/ionicons/css/ionicons.min.css">
	<!-- Angular Filemanager -->
	<!-- <link rel="stylesheet" href="plugins/angular-filemanager/angular-filemanager.min.css"> -->
	<!-- bootstrap datepicker -->
	<link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
	<!-- daterange picker -->
	<link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="plugins/AdminLTE/css/AdminLTE.css">
	<!-- AdminLTE Skins. Choose a skin from the css/skins
			 folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="plugins/AdminLTE/css/skins/skin-hasanah-green.css">
	<!-- Custom style -->
	<link rel="stylesheet" href="css/style.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="hold-transition fixed skin-hasanah sidebar-mini" ng-app="app">
	<div id="indexModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{ modalHeader }}</h4>
				</div>

				<div class="modal-body">
					<p>{{ modalMessage }}</p>
				</div>

				<div class="modal-footer">
					<span class="pull-right">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</span>
				</div>
		    </div>
		</div>
	</div>

	<div id="indexConfirm" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{ confirmHeader }}</h4>
				</div>

				<div class="modal-body">
					<p>{{ confirmMessage }}</p>
				</div>

				<div class="modal-footer">
					<span class="pull-left">
						<button type="button" class="btn btn-defult" data-dismiss="modal">Batal</button>
					</span>

					<span class="pull-right">
						<button type="button" class="btn btn-danger" ng-click="modalAction()">{{ confirmButton }}</button>
					</span>
				</div>
		    </div>
		</div>
	</div>

	<div ui-view></div>

	<!-- jQuery 2.2.3 -->
	<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="plugins/fastclick/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="plugins/AdminLTE/js/app.js"></script>
	<!-- DataTables -->
	<script src="plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="plugins/datatables/js/dataTables.bootstrap.min.js"></script>
	<!-- ChartJS -->
	<script src="plugins/chartjs/Chart.min.js"></script>
	<!-- Flot Charts -->
	<script src="plugins/flot/jquery.flot.min.js"></script>
	<!-- jVectormap -->
	<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<!-- bootstrap datepicker -->
	<script src="plugins/datepicker/bootstrap-datepicker.js"></script>
	<!-- daterange picker -->
	<script src="plugins/momentjs/moment.js"></script>
	<script src="plugins/daterangepicker/daterangepicker.js"></script>
	<!-- CK Editor -->
	<script src="plugins/ckeditor/ckeditor.js"></script>
	<!-- Select2 -->
	<script src="plugins/select2/select2.full.min.js"></script>
	<!-- InputMask -->
	<script src="plugins/input-mask/jquery.inputmask.js"></script>
	<script src="plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
	<!-- AngularJS -->
	<script src="plugins/AngularJS/angular.min.js"></script>
	<!-- Angular UI Router -->
	<script src="plugins/angular-ui-router/angular-ui-router.min.js"></script>
	<!-- Angular Ui Bootstrap -->
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
	<!-- Angular DataTables -->
	<script src="plugins/angular-datatables/angular-datatables.min.js"></script>
	<!-- Angular Loading Overlay -->
	<script src="plugins/angular-loading-overlay/angular-loading-overlay.js"></script>
	<!-- Angular DateRangePicker -->
	<script src="plugins/angular-daterangepicker/angular-daterangepicker.min.js"></script>
	<!-- Angular File Upload -->
	<script src="plugins/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script src="plugins/ng-file-upload/ng-file-upload.min.js"></script>
	<!-- Angular Base64 Upload -->
	<script src="plugins/angular-base64-upload/angular-base64-upload.js"></script>
	<!-- Angular Sanitize -->
	<script src="plugins/angular-sanitize/angular-sanitize.min.js"></script>
	<!-- Angular CSV -->
	<script src="plugins/angular-csv/ng-csv.min.js"></script>
	<!-- App -->
	<script src="js/app.js"></script>
	<script src="js/gm.datepickerMultiSelect.min.js"></script>
	<script src="templates/login/js/controllers.js"></script>
	<script src="templates/app/js/controllers.js"></script>
	<script src="templates/home/js/controllers.js"></script>
	<script src="templates/product/js/controllers.js"></script>
	<script src="templates/branch/js/controllers.js"></script>
	<script src="templates/merchant/js/controllers.js"></script>
	<script src="templates/umroh/js/controllers.js"></script>
	<script src="templates/property/js/controllers.js"></script>
	<script src="templates/calculator/js/controllers.js"></script>
	<script src="templates/filing/js/controllers.js"></script>
	<script src="templates/article/js/controllers.js"></script>
	<script src="templates/term/js/controllers.js"></script>
	<script src="templates/promo/js/controllers.js"></script>
	<script src="templates/survey/js/controllers.js"></script>
	<script src="templates/suggestion/js/controllers.js"></script>
	<script src="templates/user/js/controllers.js"></script>
	<script src="templates/settingUser/js/controllers.js"></script>
	<script src="templates/settingCity/js/controllers.js"></script>
	<script src="templates/settingEmail/js/controllers.js"></script>
	<script src="templates/umrohRegister/js/controllers.js"></script>
	<script src="templates/propertyRegister/js/controllers.js"></script>
	<script src="templates/travelAgency/js/controllers.js"></script>
	<script src="templates/role/js/controllers.js"></script>
	<script src="templates/message/js/controllers.js"></script>
	<!-- Angular UI Select2 -->
	<script src="plugins/angular-ui-select2/select2.js"></script>
</body>
</html>
