<div class="login-box" bs-loading-overlay>
	<div class="login-logo">
		<a href="../../index2.html"><b>HASANAH</b>Lifestyle</a>
	</div>

	<div class="login-box-body">
		<p class="login-box-msg">Silahkan login untuk mengakses sistem</p>

		<form ng-submit="doLogin()">
			<div class="form-group has-feedback" ng-class="{ 'has-error' : errorEmail }">
				<input id="email-user" type="email" ng-model="email" class="form-control" placeholder="Email">
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>

			<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPassword}">
				<input id="password-user" type="password" ng-model="password" class="form-control" placeholder="Password">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>

			<div class="row">
				<div class="col-xs-offset-8 col-xs-4">
					<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
				</div>
			</div>
		</form>

		<a ng-click="forgotPassword()">I forgot my password</a><br>
		<a href="register.html" class="text-center">Register a new membership</a>
	</div>
</div>
