<div class="box-header">
	<h3 class="box-title">Tambah User</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorEmail }">
		<label for="email" class="col-sm-2 control-label">Email</label>

		<div class="col-sm-10">
			<input type="email" id="email" class="form-control" ng-model="email" placeholder="Input Email">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="name" placeholder="Input Nama">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPassword }">
		<label for="password" class="col-sm-2 control-label">Password</label>

		<div class="col-sm-10">
			<input type="password" id="password" class="form-control" ng-model="password" placeholder="Input Password">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorRepassword }">
		<label for="repassword" class="col-sm-2 control-label">Ulangi Password</label>

		<div class="col-sm-10">
			<input type="password" id="repassword" class="form-control" ng-model="repassword" placeholder="Ulangi Input Password">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorType }">
		<label for="type" class="col-sm-2 control-label">Tipe</label>

		<div class="col-sm-10">
			<select ui-select2 ng-model="type" name="type" id="type" class="form-control" ng-options="type.name as type.name for type in types"
			ng-change="changeType()">
			</select>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorTravelagency }" ng-if="type.toUpperCase()==='TRAVEL ADMIN'">
		<label for="type" class="col-sm-2 control-label">Travel Agency</label>

		<div class="col-sm-10">
			<select ui-select2 ng-model="obj.travelagent_id" name="type" id="type" class="form-control" ng-options="agent.id as agent.name for agent in agents">
			</select>
		</div>
	</div>


	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorDescription }">
		<label for="description" class="col-sm-2 control-label">Deskripsi</label>

		<div class="col-sm-10">
			<textarea name="description" id="description" class="form-control" rows="3" ng-model="description" placeholder="Input Deskripsi"></textarea>
		</div>
	</div>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>

	<div class="pull-right">
		<button class="btn btn-primary" ng-click="insertUser()" type="button">Submit</button>
	</div>
</div>
