<div class="box-header">
	<h3 class="box-title">Edit User</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorEmail }">
		<label for="email" class="col-sm-2 control-label">Email</label>

		<div class="col-sm-10">
			<input type="email" id="email" class="form-control" ng-model="user.email" placeholder="Input Email">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="user.name" placeholder="Input Nama">
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="type" class="col-sm-2 control-label">Tipe</label>

		<div class="col-sm-10">
			<select ui-select2 ng-model="user.type" name="type" id="type" class="form-control" ng-options="type.name as type.name for type in types"ng-change="changeType()">
			</select>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorTravelagency }" ng-show="user.type.toUpperCase()==='TRAVEL ADMIN'">
		<label for="type" class="col-sm-2 control-label">Travel Agency</label>

		<div class="col-sm-10">
			<select ui-select2 ng-model="user.travelagent_id" name="type" id="type" class="form-control" ng-options="agent.id as agent.name for agent in agents">
			</select>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorDescription }">
		<label for="description" class="col-sm-2 control-label">Deskripsi</label>

		<div class="col-sm-10">
			<textarea name="description" id="description" class="form-control" rows="3" ng-model="user.description" placeholder="Input Deskripsi"></textarea>
		</div>
	</div>

	<div class="form-group has-feedback">
		<div class="pull-right" style="margin-right:15px">
			<button class="btn btn-primary" ng-click="change=!change" type="button" >Change Password</button>
		</div>
	</div>
	
	<div class="form-group has-feedback" ng-show="change">
		<div class="form-group has-feedback">
			<label for="name" class="col-sm-2 control-label">Old Password</label>

			<div class="col-sm-10">
				<input type="text" id="name" class="form-control" ng-model="user.oPass" placeholder="Input Nama">
			</div>
		</div>
		<div class="form-group has-feedback">
			<label for="name" class="col-sm-2 control-label">New Password</label>

			<div class="col-sm-10">
				<input type="text" id="name" class="form-control" ng-model="user.nPass" placeholder="Input Nama">
			</div>
		</div>
		<div class="form-group has-feedback">
			<label for="name" class="col-sm-2 control-label">Repeat Password</label>

			<div class="col-sm-10">
				<input type="text" id="name" class="form-control" ng-model="user.rPass" placeholder="Input Nama">
			</div>
		</div>
	</div>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>

	<div class="pull-right">
		<button class="btn btn-primary" ng-click="updateUser()" type="button">Submit</button>
	</div>
</div>
