<!-- ==header -->
<section class="content-header">
	<h1>
		Setting
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-gear"></i> Setting</a></li>
		<li class="active">User</li>
	</ol>
</section>

<!-- ==content -->
<section class="content">
	<div class="box box-primary">
		<div ui-view="settingUserContent" bs-loading-overlay></div>
	</div>
</section>
