<!-- ==header -->
<section class="content-header">
	<h1>
		Pengajuan Pembiayaan
	</h1>

	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-money"></i> Home</a></li>
		<li class="active">Pengajuan Pembiayaan</li>
	</ol>
</section>

<!-- ==content -->
<section class="content">
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li ng-class="{ active: isActive('/app/filing/finance') }"><a ui-sref="app.filing.finance.index" data-toggle="tab">Pembiayaan</a></li>
			<li ng-class="{ active: isActive('/app/filing/umroh') }"><a ui-sref="app.filing.umroh.index" data-toggle="tab">Umroh</a></li>
			<li ng-class="{ active: isActive('/app/filing/property') }"><a ui-sref="app.filing.property.index" data-toggle="tab">Properti</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active">
				<div ui-view="filingContent" bs-loading-overlay class="contentRelative"></div>
			</div>
		</div>
	</div>
</section>
