<div class="box-header">
	<h3 class="box-title">Data Pengajuan Properti</h3>
	
	<span class="pull-right">
		<button class="btn btn-primary" type="button" ng-disabled="emptyCsv" ng-csv="getArray" csv-header="['No.', 'Nama', 'Pengajuan', 'Fasilitas', 'Cabang Terdekat', 'Alamat', 'Email', 'No.Telp', 'Tanggal Lahir', 'Jenis Kelamin', 'Kota Domisili', 'Kelurahan', 'Kecamatan', 'RT', 'Rw', 'Kode Pos', 'Pekerjaan', 'Tipe Perusahaan', 'Jabatan', 'Bidang Usaha', 'Tahun Mulai Bekerja', 'Lama Bekerja', 'Nama Kantor', 'No.Telp Kantor', 'Penghasilan', 'Hubungi Ke']" filename="propertyfiling.csv">
			<i class="fa fa-file-excel-o"></i> Export
		</button>

		<button class="btn btn-success" ng-click="reloadData()">
			<i class="fa fa-refresh"></i> Refresh
		</button>
	</span>

	<span class="form-horizontal pull-right daterange-form">
		<div class="form-group has-feedback">
			<label for="daterange" class="col-sm-2 control-label">Tanggal</label>

			<div class="col-sm-10">
				<input type="text" id="daterange" class="form-control" ng-model="daterange" placeholder="Pilih Tanggal">
			</div>
		</div>
	</span>
</div>

<div class="box-body">
	<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-hover"></table>
</div>
