<div class="box-header">
	<h3 class="box-title">Detail Pengajuan</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback">
		<label for="type" class="col-sm-2 control-label">Jenis Pengajuan</label>

		<div class="col-sm-10">
			<input type="text" id="type" class="form-control" ng-model="umrohFiling.umroh.name" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="facility" class="col-sm-2 control-label">Fasilitas</label>

		<div class="col-sm-10">
			<input type="text" id="facility" class="form-control" ng-model="umrohFiling.umrohfiling.facility" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="umrohFiling.umrohfiling.name" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="birthday" class="col-sm-2 control-label">Tanggal Lahir</label>

		<div class="col-sm-10">
			<input type="text" id="birthday" class="form-control" ng-model="umrohFiling.umrohfiling.birthday" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="gender" class="col-sm-2 control-label">Jenis Kelamin</label>

		<div class="col-sm-10">
			<input type="text" id="gender" class="form-control" ng-model="umrohFiling.umrohfiling.gender" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="city" class="col-sm-2 control-label">Kota / Domisili</label>

		<div class="col-sm-10">
			<input type="text" id="city" class="form-control" ng-model="umrohFiling.umrohfiling.city" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="address" class="col-sm-2 control-label">Alamat</label>

		<div class="col-sm-10">
			<textarea name="address" id="address" class="form-control" rows="3" ng-model="umrohFiling.umrohfiling.address" readonly></textarea>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="kelurahan" class="col-sm-2 control-label">Kelurahan</label>

		<div class="col-sm-10">
			<input type="text" id="kelurahan" class="form-control" ng-model="umrohFiling.umrohfiling.kelurahan" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="kecamatan" class="col-sm-2 control-label">Kecamatan</label>

		<div class="col-sm-10">
			<input type="text" id="kecamatan" class="form-control" ng-model="umrohFiling.umrohfiling.kecamatan" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="rt" class="col-sm-2 control-label">RT</label>

		<div class="col-sm-10">
			<input type="text" id="rt" class="form-control" ng-model="umrohFiling.umrohfiling.rt" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="rw" class="col-sm-2 control-label">RW</label>

		<div class="col-sm-10">
			<input type="text" id="rw" class="form-control" ng-model="umrohFiling.umrohfiling.rw" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="postal_code" class="col-sm-2 control-label">Kode Pos</label>

		<div class="col-sm-10">
			<input type="text" id="postal_code" class="form-control" ng-model="umrohFiling.umrohfiling.postal_code" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="phone" class="col-sm-2 control-label">No. Handphone</label>

		<div class="col-sm-10">
			<input type="text" id="phone" class="form-control" ng-model="umrohFiling.umrohfiling.phone" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="email" class="col-sm-2 control-label">Email</label>

		<div class="col-sm-10">
			<input type="text" id="email" class="form-control" ng-model="umrohFiling.umrohfiling.email" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="branch" class="col-sm-2 control-label">Cabang Terdekat</label>

		<div class="col-sm-10">
			<input type="text" id="branch" class="form-control" ng-model="umrohFiling.branch.name" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="job" class="col-sm-2 control-label">Pekerjaan</label>

		<div class="col-sm-10">
			<input type="text" id="job" class="form-control" ng-model="umrohFiling.umrohfiling.job" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="company_type" class="col-sm-2 control-label">Tipe Perusahaan</label>

		<div class="col-sm-10">
			<input type="text" id="company_type" class="form-control" ng-model="umrohFiling.umrohfiling.company_type" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="job_position" class="col-sm-2 control-label">Jabatan</label>

		<div class="col-sm-10">
			<input type="text" id="job_position" class="form-control" ng-model="umrohFiling.umrohfiling.job_position" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="business_field" class="col-sm-2 control-label">Jenis Bidang Usaha</label>

		<div class="col-sm-10">
			<input type="text" id="business_field" class="form-control" ng-model="umrohFiling.umrohfiling.business_field" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="year_start_work" class="col-sm-2 control-label">Tahun Mulai Bekerja</label>

		<div class="col-sm-10">
			<input type="text" id="year_start_work" class="form-control" ng-model="umrohFiling.umrohfiling.year_start_work" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="service_length" class="col-sm-2 control-label">Lama Bekerja</label>

		<div class="col-sm-10">
			<input type="text" id="service_length" class="form-control" ng-model="umrohFiling.umrohfiling.service_length" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="office_name" class="col-sm-2 control-label">Nama Kantor / Tempat Bekerja</label>

		<div class="col-sm-10">
			<input type="text" id="office_name" class="form-control" ng-model="umrohFiling.umrohfiling.office_name" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="office_phone" class="col-sm-2 control-label">No. Telpon Kantor</label>

		<div class="col-sm-10">
			<input type="text" id="office_phone" class="form-control" ng-model="umrohFiling.umrohfiling.office_phone" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="income" class="col-sm-2 control-label">Penghasilan Perbulan (Rp.)</label>

		<div class="col-sm-10">
			<input type="text" id="income" class="form-control" ng-model="umrohFiling.umrohfiling.income" readonly format="number">
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="contact_to" class="col-sm-2 control-label">Hubungi Saya ke</label>

		<div class="col-sm-10">
			<input type="text" id="contact_to" class="form-control" ng-model="umrohFiling.umrohfiling.contact_to" readonly>
		</div>
	</div>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>
</div>
