<!-- ==header -->
<section class="content-header">
  <h1>
    Message's
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-star"></i> Home</a></li>
    <li class="active">Message</li>
  </ol>
</section>

<!-- ==content -->
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Messages</h3>
      <span class="pull-right">
        <span class="pull-right">
          <button class="btn btn-success" ng-click="reloadData()">
            <i class="fa fa-refresh"></i> Refresh
          </button>
        </span>
      </span>
    </div>
    <div class="box-body">
      <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-hover"></table>
    </div>
  </div>
</section>