
<div class="modal-dialog modal-body panel panel-default" ng-init="disable=true">		
  	<div class = "panel-body">
  		<div class="row">
  			<button ng-click="cancel()" class="btn btn-danger pull-right">
    			<i class="fa fa-times"></i>
  			</button>
  		</div>	 
  		<form class="form-horizontal">
			<div class="form-group">
				<label for="firstName" class="col-xs-3 control-label">From :</label>
			    <div class="col-xs-9" style="margin-top: 8px">
			    	<span>{{message.customer_name}}</span>
                </div>
			</div>			
          	<div class="form-group">
                <label for="firstName" class="col-md-3 control-label">Subject :</label>
                <div class="col-md-9" style="margin-top: 8px">  
                  <span>{{message.subject}}</span>
                </div>
          	</div>
          	<div class="form-group">
                <label for="firstName" class="col-md-3 control-label">Description :</label>
                <div class="col-md-9" style="margin-top: 8px">
                  <span>{{message.description}}</span>
                </div>
          	</div>
          	<div class="form-group" ng-class="{ 'has-error' : noReply }">
                <label for="firstName" class="col-md-3 control-label">Reply :</label>
                <div class="col-md-9" style="margin-top: 8px;">
                  <div class="reply-text" style="position: absolute;top: 5px;left: 37px;color: grey;" ng-show="disable">
	                <p ng-show="message.reply==null">Click here to <a ng-click="disable=false" style="cursor: pointer;">Reply</a></p>
	              </div>
                  <textarea class="form-control" rows="4" ng-model="message.reply" type="text" rows="5" ng-disabled="disable"></textarea>
                </div>
          	</div>
        </form>
        <div class="row">
        	<button class="btn btn-success pull-right" ng-click="sendMessage()">Send message</button>
        </div>
  	</div>
</div>