<!-- ==header -->
<section class="content-header">
	<h1>
		Artikel
	</h1>

	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-file-text"></i> Home</a></li>
		<li class="active">Artikel</li>
	</ol>
</section>

<!-- ==content -->
<section class="content">
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li ng-class="{ active: isActive('/app/article/category') }"><a ui-sref="app.article.category.index" data-toggle="tab">Kategori</a></li>
			<li ng-class="{ active: isActive('/app/article/subCategory') }"><a ui-sref="app.article.subCategory.index" data-toggle="tab">Sub Kategori</a></li>
			<li ng-class="{ active: isActive('/app/article/list') }"><a ui-sref="app.article.list.index" data-toggle="tab">Artikel</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active">
				<div ui-view="articleContent" bs-loading-overlay class="contentRelative"></div>
			</div>
		</div>
	</div>
</section>
