<div class="box-header">
	<h3 class="box-title">Edit Artikel</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorTitle }">
		<label for="title" class="col-sm-2 control-label">Judul</label>

		<div class="col-sm-10">
			<input type="text" id="title" class="form-control" ng-model="article.title" placeholder="Judul">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorSubCategory }">
		<label for="subCategory" class="col-sm-2 control-label">Sub Kategori</label>

		<div class="col-sm-10">
			<select ui-select2 ng-model="article.id_article_sub_category" name="subCategory" id="subCategory" class="form-control"
				ng-options="subCategory.id as subCategory.name for subCategory in subCategories">
			</select>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="image" class="col-sm-2 control-label">Gambar</label>
		
		<div class="col-sm-10">
			<label class="btn btn-primary" for="file">
				<!-- <input type="file" ngf-select ng-model="imgFile" name="file" id="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" style="display:none;"> -->
				<input type="file" ng-model="imgFile" name="file" id="file" accept="image/*" maxsize="2000" style="display:none;" base-sixty-four-input>
				Browse
			</label>

			<span class="text-muted" ng-if="imgFile == null">*Ukuran yang dianjurkan 375 x 250</span>
			<span class="text-muted" ng-if="imgFile">{{ imgFile.filename }}</span>
		</div>

		<!-- <div class="col-sm-offset-2 col-sm-10">
			<img ng-if="imgFile == null" class="thumb" ng-src="{{ article.img }}">
			<img ngf-thumbnail="imgFile" class="thumb"> <button ng-click="imgFile = null" ng-show="imgFile" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div> -->
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorDescription }">
		<label for="description" class="col-sm-2 control-label">Deskripsi</label>

		<div class="col-sm-10">
			<textarea name="description" id="description" ng-model="article.description" class="form-control" placeholder="Input Deskripsi"></textarea>
		</div>
	</div>

	<!-- <div class="form-group has-feedback">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox" id="headline" name="headline">
				<label>
					<input type="checkbox" ng-model="article.headline"> Jadikan Headline
				</label>
			</div>
		</div>
	</div> -->

	<div class="form-group has-feedback">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox" id="status" name="status">
				<label>
					<input type="checkbox" ng-model="status_"> Aktif
				</label>
			</div>
		</div>
	</div>

	<textarea ck-editor ng-model="article.content"></textarea>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()">Kembali</button>
	</div>

	<div class="pull-right">
		<button class="btn btn-primary" ng-click="updateArticle()">Submit</button>
	</div>
</div>
