<div class="box-header">
	<h3 class="box-title">Detail Artikel</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback">
		<label for="title" class="col-sm-2 control-label">Judul</label>

		<div class="col-sm-10">
			<input type="text" id="title" class="form-control" ng-model="article.title" readonly>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorSubCategory }">
		<label for="subCategory" class="col-sm-2 control-label">Sub Kategori</label>

		<div class="col-sm-10">
			<input type="text" id="subCategory" class="form-control" ng-model="subCategory.name" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="image" class="col-sm-2 control-label">Gambar</label>
		
		<div class="col-sm-10">
			<img ng-src="{{ baseUrl + article.img }}" width="150px">
		</div>

		<!-- <div class="col-sm-offset-2 col-sm-10">
			<img ng-if="imgFile == null" class="thumb" ng-src="{{ article.img }}">
			<img ngf-thumbnail="imgFile" class="thumb"> <button ng-click="imgFile = null" ng-show="imgFile" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div> -->
	</div>

	<div class="form-group has-feedback">
		<label for="description" class="col-sm-2 control-label">Deskripsi</label>

		<div class="col-sm-10">
			<textarea name="description" id="description" ng-model="article.description" class="form-control" readonly></textarea>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="status" class="col-sm-2 control-label">Status</label>

		<div class="col-sm-10">
			<input type="text" id="status" class="form-control" ng-model="article.status_" readonly>
		</div>
	</div>
	
	<div class="detail-content" ng-bind-html="renderHtml(article.content)"></div>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()">Kembali</button>
	</div>
</div>
