<div class="box-header">
	<h3 class="box-title">Tambah Produk</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="name" placeholder="Input Nama">
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorImg }">
		<label for="image" class="col-sm-2 control-label">Gambar</label>
		
		<div class="col-sm-10">
			<label class="btn btn-primary" for="file">
				<!-- <input type="file" ngf-select ng-model="imgFile" name="file" id="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" style="display:none;"> -->
				<input type="file" ng-model="imgFile" name="file" id="file" accept="image/*" maxsize="2000" style="display:none;" base-sixty-four-input>
				Browse
			</label>

			<span class="text-muted" ng-if="imgFile == null">*Ukuran yang dianjurkan 55 x 55 (.png)</span>
			<span class="text-muted" ng-if="imgFile">{{ imgFile.filename }}</span>
		</div>

		<!-- <div class="col-sm-offset-2 col-sm-10">
			<img ngf-thumbnail="imgFile" class="thumb"> <button ng-click="imgFile = null" ng-show="imgFile" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div> -->
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorDescription }">
		<label for="description" class="col-sm-2 control-label">Deskripsi</label>

		<div class="col-sm-10">
			<textarea name="description" id="description" class="form-control" rows="3" ng-model="description" placeholder="Input Deskripsi"></textarea>
		</div>
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorCategory }">
		<label for="category" class="col-sm-2 control-label">Kategori</label>

		<div class="col-sm-10">
			<select ui-select2 ng-model="category" name="category" id="category" class="form-control">
				<option></option>
				<option ng-repeat="category in categories" value="{{ category.name }}">{{ category.name }}</option>
			</select>
		</div>
	</div>

	<div class="form-group has-feedback">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox" id="status" name="status">
				<label>
					<input type="checkbox" ng-model="status"> Aktif
				</label>
			</div>
		</div>
	</div>

	<textarea ck-editor ng-model="content"></textarea>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>

	<div class="pull-right">
		<button class="btn btn-primary" ng-click="insertProduct()" type="button">Submit</button>
	</div>
</div>
