<!-- ==header -->
<section class="content-header">
	<h1>
		Setting
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-gear"></i> Setting</a></li>
		<li class="active">Email</li>
	</ol>
</section>

<!-- ==content -->
<section class="content">
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class="active"><a href="" data-target="#umroh" data-toggle="tab">Email Umroh</a></li>
			<li><a href="" data-target="#property" data-toggle="tab">Email Properti</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="umroh">
				<!-- <div class="box-header">
					<h3 class="box-title">Email Umroh</h3>
				</div> -->

				<div class="box-body form-horizontal">
					<div class="form-group has-feedback" ng-class="{ 'has-error' : errorUmrohTitle }">
						<label for="titleUmroh" class="col-sm-2 control-label">Judul</label>

						<div class="col-sm-10">
							<input type="text" id="titleUmroh" class="form-control" ng-model="settingUmroh.title" placeholder="Input Judul">
						</div>
					</div>

					<div class="form-group has-feedback" ng-class="{ 'has-error' : errorUmrohContent }">
						<label for="contentUmroh" class="col-sm-2 control-label">Konten</label>

						<div class="col-sm-10">
							<textarea name="contentUmroh" id="contentUmroh" class="form-control" rows="3" ng-model="settingUmroh.content" placeholder="Input Konten"></textarea>
						</div>
					</div>

					<div id="divUmroh">
						<div class="form-group has-feedback" id="groupUmroh0" data-number="0">
							<label for="emailUmroh0" class="col-sm-2 control-label">Email</label>

							<div class="col-sm-4" id="inputEmailUmroh0">
								<input type="text" id="emailUmroh0" class="form-control" placeholder="Input Email">
							</div>

							<div class="col-sm-2">
								<button class="btn btn-flat btn-primary" id="btn-add" type="button" ng-click="addEmailUmroh()">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
					</div>

					<div id="divUmrohOld">
						<div class="form-group has-feedback" data-number="" ng-repeat="(key, emailUmroh) in settingUmroh.email">
							<div class="col-sm-offset-2 col-sm-4">
								<input type="text" id="emailUmrohOld{{ key }}" value="{{ emailUmroh }}" class="form-control" placeholder="Input Email">
							</div>

							<div class="col-sm-2">
								<button class="btn btn-flat btn-danger" id="btn-remove" type="button">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="box-footer">
					<div class="pull-left">
						<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
					</div>

					<div class="pull-right">
						<button class="btn btn-primary" ng-click="updateEmailUmroh()" type="button">Submit</button>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="property">
				<!-- <div class="box-header">
					<h3 class="box-title">Email Umroh</h3>
				</div> -->

				<div class="box-body form-horizontal">
					<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPropertyTitle }">
						<label for="titleProperty" class="col-sm-2 control-label">Judul</label>

						<div class="col-sm-10">
							<input type="text" id="titleProperty" class="form-control" ng-model="settingProperty.title" placeholder="Input Judul">
						</div>
					</div>

					<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPropertyContent }">
						<label for="contentProperty" class="col-sm-2 control-label">Konten</label>

						<div class="col-sm-10">
							<textarea name="contentProperty" id="contentProperty" class="form-control" rows="3" ng-model="settingProperty.content" placeholder="Input Konten"></textarea>
						</div>
					</div>

					<div id="divProperty">
						<div class="form-group has-feedback" id="groupProperty0" data-number="0">
							<label for="emailProperty0" class="col-sm-2 control-label">Email</label>

							<div class="col-sm-4" id="inputEmailProperty">
								<input type="text" id="emailProperty0" class="form-control" placeholder="Input Email">
							</div>

							<div class="col-sm-2">
								<button class="btn btn-flat btn-primary" id="btn-add" type="button" ng-click="addEmailProperty()">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
					</div>

					<div id="divPropertyOld">
						<div class="form-group has-feedback" data-number="" ng-repeat="(key, emailProperty) in settingProperty.email">
							<div class="col-sm-offset-2 col-sm-4">
								<input type="text" id="emailPropertyOld{{ key }}" value="{{ emailProperty }}" class="form-control" placeholder="Input Email">
							</div>

							<div class="col-sm-2">
								<button class="btn btn-flat btn-danger" id="btn-remove" type="button">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="box-footer">
					<div class="pull-left">
						<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
					</div>

					<div class="pull-right">
						<button class="btn btn-primary" ng-click="updateEmailProperty()" type="button">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="box box-primary">
		
	</div> -->
</section>
