<div class="box-header">
	<h3 class="box-title">Edit Promo</h3>
</div>

<div class="form-horizontal box-body">
	<div class="form-group has-feedback">
		<label for="image" class="col-sm-2 control-label">Gambar</label>
		
		<div class="col-sm-10">
			<label class="btn btn-primary" for="file">
				<!-- <input type="file" ngf-select ng-model="imgFile" name="file" id="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" style="display:none;"> -->
				<input type="file" ng-model="imgFile" name="file" id="file" accept="image/*" maxsize="2000" style="display:none;" base-sixty-four-input>
				Browse
			</label>

			<span class="text-muted" ng-if="imgFile == null">*Ukuran yang dianjurkan 375 x 200</span>
			<span class="text-muted" ng-show="myForm.file.$valid">{{ imgFile.filename }}</span>
		</div>

		<!-- <div class="col-sm-offset-2 col-sm-10">
			<img ng-if="imgFile == null" class="thumb" ng-src="{{ promo.img }}">
			<img ng-show="myForm.file.$valid" ngf-thumbnail="imgFile" class="thumb"> <button ng-click="imgFile = null" ng-show="imgFile" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div> -->
	</div>

	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorDescription }">
		<label for="description" class="col-sm-2 control-label">Deskripsi</label>

		<div class="col-sm-10">
			<textarea name="description" id="description" class="form-control" rows="3" ng-model="promo.description" placeholder="Input Deskripsi"></textarea>
		</div>
	</div>

	<div class="form-group has-feedback">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox" id="status" name="status">
				<label>
					<input type="checkbox" ng-model="status_"> Aktif
				</label>
			</div>
		</div>
	</div>

	<textarea ck-editor ng-model="promo.content"></textarea>	
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>

	<div class="pull-right">
		<button class="btn btn-primary" ng-click="updatePromo()" type="button">Submit</button>
	</div>
</div>
