<div class="box-header">
	<h3 class="box-title">Data Promo</h3>
	
	<span class="pull-right">
		<button class="btn btn-success" ng-click="reloadData()">
			<i class="fa fa-refresh"></i> Refresh
		</button>
		
		<a ui-sref="app.promo.create">	
			<button class="btn btn-primary">
				<i class="fa fa-plus"></i> Tambah
			</button>
		</a>
	</span>

	<span class="form-horizontal pull-right status-form">
		<div class="form-group has-feedback">
			<label for="status" class="col-sm-2 control-label">Status</label>

			<div class="col-sm-10">
				<select ui-select2 ng-model="status" name="status" id="status" class="form-control" ng-change="reloadData()">
					<option></option>
					<option value=99>Semua</option>
					<option value=1>Aktif</option>
					<option value=0>Non-Aktif</option>
				</select>
			</div>
		</div>
	</span>
</div>

<div class="box-body">
	<!-- <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-hover"></table> -->
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>No</th>
				<th>Gambar</th>
				<th>Deskripsi</th>
				<th>Status</th>
				<th>Aksi</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="(key, promo) in promos">
				<td>{{ key+1+((currentPage-1)*limit) }}</td>
				<td><img ng-src="{{ baseUrl + promo.img }}" width="55px"></td>
				<td><a href="" ng-click="navigateTo('app.promo.detail', promo)">{{ promo.description }}</a></td>
				<td ng-if="promo.status"><span class="status-active">Aktif</span></td>
				<td ng-if="!promo.status"><span class="status-nonactive">Non-Aktif</span></td>
				<td>
					<button class="btn btn-primary btn-xs btn-block" ng-click="navigateTo('app.promo.edit', promo)"><i class="fa fa-pencil-square-o"></i> Edit</button>
					<button class="btn btn-danger btn-xs btn-block" ng-click="destroyPromo(promo.id, promo.img)"><i class="fa fa-trash-o"></i> Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="box-footer clearfix" ng-if="pages.length > 0">
	<ul class="pagination pagination-sm no-margin pull-right">
		<li><a href ng-click="gotoPage(1)">&laquo;</a></li>
		<li ng-repeat="page in pages"><a href ng-click="gotoPage(page)">{{ page }}</a></li>
		<li><a href ng-click="gotoPage(last)">&raquo;</a></li>
	</ul>
</div>
