<div class="box-header">
	<h3 class="box-title">Edit Istilah</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="term.name" placeholder="Input Nama">
		</div>
	</div>

	<textarea ck-editor ng-model="term.content"></textarea>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>

	<div class="pull-right">
		<button class="btn btn-primary" ng-click="updateTerm()" type="button">Submit</button>
	</div>
</div>
