/*
 * Skin: Hasanah
 * ----------
 */
.skin-hasanah .main-header .navbar {
	background-color: #f8770e;
}
.skin-hasanah .main-header .navbar .nav > li > a {
	color: #ffffff;
}
.skin-hasanah .main-header .navbar .nav > li > a:hover,
.skin-hasanah .main-header .navbar .nav > li > a:active,
.skin-hasanah .main-header .navbar .nav > li > a:focus,
.skin-hasanah .main-header .navbar .nav .open > a,
.skin-hasanah .main-header .navbar .nav .open > a:hover,
.skin-hasanah .main-header .navbar .nav .open > a:focus,
.skin-hasanah .main-header .navbar .nav > .active > a {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6;
}
.skin-hasanah .main-header .navbar .sidebar-toggle {
	color: #ffffff;
}
.skin-hasanah .main-header .navbar .sidebar-toggle:hover {
	color: #f6f6f6;
	background: rgba(0, 0, 0, 0.1);
}
.skin-hasanah .main-header .navbar .sidebar-toggle {
	color: #fff;
}
.skin-hasanah .main-header .navbar .sidebar-toggle:hover {
	background-color: #df6b0c;
}
@media (max-width: 767px) {
	.skin-hasanah .main-header .navbar .dropdown-menu li.divider {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.skin-hasanah .main-header .navbar .dropdown-menu li a {
		color: #fff;
	}
	.skin-hasanah .main-header .navbar .dropdown-menu li a:hover {
		background: #df6b0c;
	}
}
.skin-hasanah .main-header .logo {
	background-color: #df6b0c;
	color: #ffffff;
	border-bottom: 0 solid transparent;
}
.skin-hasanah .main-header .logo:hover {
	background-color: #c65f0b;
}
.skin-hasanah .main-header li.user-header {
	background-color: #f8770e;
}
.skin-hasanah .content-header {
	background: transparent;
}
.skin-hasanah .wrapper,
.skin-hasanah .main-sidebar,
.skin-hasanah .left-side {
	background-color: #222d32;
}
.skin-hasanah .user-panel > .info,
.skin-hasanah .user-panel > .info > a {
	color: #fff;
}
.skin-hasanah .sidebar-menu > li.header {
	color: #4b646f;
	background: #1a2226;
}
.skin-hasanah .sidebar-menu > li > a {
	border-left: 3px solid transparent;
}
.skin-hasanah .sidebar-menu > li:hover > a,
.skin-hasanah .sidebar-menu > li.active > a {
	color: #ffffff;
	background: #1e282c;
	border-left-color: #f8770e;
}
.skin-hasanah .sidebar-menu > li > .treeview-menu {
	margin: 0 1px;
	background: #2c3b41;
}
.skin-hasanah .sidebar a {
	color: #b8c7ce;
}
.skin-hasanah .sidebar a:hover {
	text-decoration: none;
}
.skin-hasanah .treeview-menu > li > a {
	color: #8aa4af;
}
.skin-hasanah .treeview-menu > li.active > a,
.skin-hasanah .treeview-menu > li > a:hover {
	color: #ffffff;
}
.skin-hasanah .sidebar-form {
	border-radius: 3px;
	border: 1px solid #374850;
	margin: 10px 10px;
}
.skin-hasanah .sidebar-form input[type="text"],
.skin-hasanah .sidebar-form .btn {
	box-shadow: none;
	background-color: #374850;
	border: 1px solid transparent;
	height: 35px;
}
.skin-hasanah .sidebar-form input[type="text"] {
	color: #666;
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
}
.skin-hasanah .sidebar-form input[type="text"]:focus,
.skin-hasanah .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #fff;
	color: #666;
}
.skin-hasanah .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	border-left-color: #fff;
}
.skin-hasanah .sidebar-form .btn {
	color: #999;
	border-top-left-radius: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0;
}
.skin-hasanah.layout-top-nav .main-header > .logo {
	background-color: #f8770e;
	color: #ffffff;
	border-bottom: 0 solid transparent;
}
.skin-hasanah.layout-top-nav .main-header > .logo:hover {
	background-color: #3b8ab8;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	background-color: #df6b0c;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #f8770e;
	border-color: #c65f0b;
}
