<!-- ==header -->
<section class="content-header">
	<h1>
		Home
	</h1>

	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li class="active">Slide</li>
	</ol>
</section>

<!-- ==content -->
<section class="content">
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li ng-class="{ active: isActive('/app/home/slide') }"><a ui-sref="app.home.slide.index" data-toggle="tab">Slide</a></li>
			<li ng-class="{ active: isActive('/app/home/menu') }"><a ui-sref="app.home.menu.index" data-toggle="tab">Menu</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active">
				<div ui-view="homeContent" bs-loading-overlay class="contentRelative"></div>
			</div>
		</div>
	</div>
</section>
