<div class="box-header">
	<h3 class="box-title">Tambah Menu</h3>
</div>

<form name="myForm" class="form-horizontal" ng-submit="insertMenu()">
	<div class="box-body">
		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorTitle }">
			<label for="title" class="col-sm-2 control-label">Judul</label>

			<div class="col-sm-10">
				<input type="text" id="title" class="form-control" ng-model="title" placeholder="Judul">
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorImg }">
			<label for="image" class="col-sm-2 control-label">Gambar</label>
			
			<div class="col-sm-10">
				<label class="btn btn-primary" for="file">
					<!-- <input type="file" ngf-select ng-model="imgFile" name="file" id="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" style="display:none;"> -->
					<input type="file" ng-model="imgFile" name="file" id="file" accept="image/*" maxsize="2000" style="display:none;" base-sixty-four-input>
					Browse
				</label>

				<span class="text-muted" ng-if="imgFile == null">*Ukuran yang dianjurkan 50 x 50</span>
				<span class="text-muted" ng-show="myForm.file.$valid">{{ imgFile.filename }}</span>
			</div>

			<!-- <div class="col-sm-offset-2 col-sm-10">
				<img ng-show="myForm.file.$valid" ngf-thumbnail="imgFile" class="thumb"> <button ng-click="imgFile = null" ng-show="imgFile" type="button" class="btn btn-xs btn-danger">Remove</button>
			</div> -->
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorDescription }">
			<label for="description" class="col-sm-2 control-label">Deskripsi</label>

			<div class="col-sm-10">
				<textarea name="description" id="description" class="form-control" rows="3" ng-model="description" placeholder="Input Deskripsi"></textarea>
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorLink}">
			<label for="link" class="col-sm-2 control-label">Link</label>

			<div class="col-sm-10">
				<select ui-select2 ng-model="link" name="link" id="link" class="form-control">
					<option></option>
					<option ng-repeat="link in links" value="{{ link.value }}">{{ link.text }}</option>
				</select>
			</div>
		</div>	
	</div>

	<div class="box-footer">
		<div class="pull-left">
			<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
		</div>

		<div class="pull-right">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
	</div>
</form>