<div class="box-header">
	<h3 class="box-title">Setting Slide</h3>
</div>

<form class="form-horizontal" ng-submit="updateSetting()">
	<div class="box-body">
		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorInterval }">
			<label for="interval" class="col-sm-2 control-label">Interval</label>

			<div class="col-sm-10">
				<input type="number" id="interval" ng-model="setting.interval" class="form-control" placeholder="Input Interval">
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox" id="repeat" name="repeat">
					<label>
						<input type="checkbox" ng-model="setting.repeat"> Repeat
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="box-footer">
		<div class="pull-left">
			<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
		</div>

		<div class="pull-right">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
	</div>
</form>