<div class="box-header">
	<h3 class="box-title">Data Slide</h3>

	<span class="pull-right">
		<button class="btn btn-success" ng-click="reloadData()">
			<i class="fa fa-refresh"></i> Refresh
		</button>
		
		<!-- <a ui-sref="app.home.setting">	
			<button class="btn btn-info">
				<i class="fa fa-cog"></i> Setting
			</button>
		</a> -->

		<a ui-sref="app.home.slide.create">	
			<button class="btn btn-primary">
				<i class="fa fa-plus"></i> Tambah
			</button>
		</a>
	</span>

	<span class="form-horizontal pull-right status-form">
		<div class="form-group has-feedback">
			<label for="status" class="col-sm-2 control-label">Status</label>

			<div class="col-sm-10">
				<select ui-select2 ng-model="status" name="status" id="status" class="form-control" ng-change="reloadData()">
					<option></option>
					<option value=99>Semua</option>
					<option value=1>Aktif</option>
					<option value=0>Non-Aktif</option>
				</select>
			</div>
		</div>
	</span>
</div>

<div class="box-body">
	<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-hover"></table>
</div>
