<div id="myModal">
	<div class="modal-header" style="border-style:none;">
		<button ng-click="cancel()" class="btn btn-danger pull-right" ng-disabled="loader">
			<i class="fa fa-times"></i>
		</button>
		<h4 class="modal-title"><b>{{title}}</b></h4>      	
	</div>
	<div class="modal-dialog modal-body" style="padding:15px;margin:auto;width:100%">
		<div class="box box-primary">
			<div class="box-body">
				<div class="row">
					<label class="col-sm-12">
						Asign menus to your role :-
					</label>
					<div class="col-sm-12">
						<div class="col-sm-3">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="allSelected" ng-change="selectAll()"> 
									<span style="font-weight:bold;">Select all menus</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div ng-repeat="role in menus track by $index">
						<div class="col-sm-4">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="menus[$index].checked"> 
									{{menus[$index].name}}
								</label>
							</div>                
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="modal-footer" style="border-style:none;">
		<button class="btn btn-success pull-right" style="margin-left:1%" ng-click="update()" ng-disabled="loader">Update Menus</button>  
	</div>
</div>