<section class="content-header">
	<h1>
		Setting
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-gear"></i> Setting</a></li>
		<li class="active">Role</li>
	</ol>
</section>

<!-- ==content -->
<section class="content" bs-loading-overlay>
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Data Roles</h3>
			
			<span class="pull-right">

				<span class="pull-right">
					<button class="btn btn-primary" type="button" ng-click="newRole=[];newRole.push({})">
						<i class="fa fa-plus"></i> Create Role
					</button>

					<button class="btn btn-success" ng-click="init()">
						<i class="fa fa-refresh"></i> Refresh
					</button>
				</span>
			</span>
		</div>

		<div class="box-body">
			<div class="form-group" ng-repeat="new in newRole">  
	            <div class="col-xs-7" ng-class="{ 'has-error' : error }">
	               <input type="text" class="form-control" ng-model="new.name" placeholder="Enter name..">
	            </div>   
	            <div class="col-xs-5">
	            	<button class="btn btn-danger pull-right" ng-click="newRole.splice($index,1)" style="margin:2px">
						Cancel
					</button>
	               	<button class="btn btn-success pull-right" ng-click="save()" style="margin:2px">
						Save
					</button>
	            </div></br></br>       
           	</div>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>No</th>
						<th>Nama</th>
						<th>Total Menus</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-init="key=$index+1" ng-repeat="role in roles track by $index">
						<td>{{ key }}</td>
						<td>
							<span ng-show="!role.editable">
								{{ role.name }}
							</span>
							<span ng-show="role.editable">
								<input type="text" class="form-control" ng-model="role.name" placeholder="Enter name..">
							</span>
						</td>
						<td>{{ role.menus.length }}</td>
						<td>
							<span ng-show="!role.editable">
								<button class="btn btn-warning btn-xs" ng-click="role.editable=true"><i class="fa fa-pencil-square-o"></i> Edit</button>
								<button class="btn btn-success btn-xs" ng-click="manageRole(role)"><i class="fa fa-pencil-square-o"></i> Manage Menu</button>
								<button class="btn btn-danger btn-xs" ng-click="delete(role)"><i class="fa fa-trash-o"></i> Delete</button>
							</span>
							<span ng-show="role.editable">
								<button class="btn btn-warning btn-xs" ng-click="role.editable=false"> Cancel</button>
								<button class="btn btn-success btn-xs" ng-click="update(role)">Update</button>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- <div class="box-footer clearfix" ng-if="pages.length > 0">
			<ul class="pagination pagination-sm no-margin pull-right">
				<li><a href ng-click="gotoPage(1)">&laquo;</a></li>
				<li ng-repeat="page in pages"><a href ng-click="gotoPage(page)">{{ page }}</a></li>
				<li><a href ng-click="gotoPage(last)">&raquo;</a></li>
			</ul>
		</div> -->
	</div>
</section>