<div class="box-header">
	<h3 class="box-title">Data Jawaban</h3>
	
	<span class="pull-right">
		<button class="btn btn-success" ng-click="reloadData()">
			<i class="fa fa-refresh"></i> Refresh
		</button>
		
		<!-- <a ui-sref="app.survey.answer.create">	
			<button class="btn btn-primary">
				<i class="fa fa-plus"></i> Tambah
			</button>
		</a> -->
	</span>
</div>

<div class="box-body">
	<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-hover"></table>
</div>
