<div class="box-header">
	<h3 class="box-title">Tambah Survey</h3>
</div>

<form name="myForm" class="form-horizontal" ng-submit="insertSurvey()">
	<div class="box-body">
		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorQuestion }">
			<label for="question" class="col-sm-2 control-label">Pertanyaan</label>

			<div class="col-sm-10">
				<input type="text" id="question" class="form-control" ng-model="question" placeholder="Input Pertanyaan">
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorType }">
			<label for="question_type" class="col-sm-2 control-label">Tipe</label>

			<div class="col-sm-10">
				<select ui-select2 ng-model="question_type" name="question_type" id="question_type" class="form-control">
					<option></option>
					<option value="questionnaire">Kuisioner</option>
					<option value="rate">Penilaian</option>
				</select>
			</div>
		</div>

		<div id="divOption">
			<div class="form-group has-feedback" id="groupOption0" data-number="0">
				<label id="labelOption" for="value0" class="col-sm-2 control-label">Option</label>

				<div class="col-sm-4" id="inputValue0">
					<input type="text" id="value0" class="form-control" placeholder="Input Value">
				</div>

				<div class="col-sm-4" id="inputText0">
					<input type="text" id="text0" class="form-control" placeholder="Input Text">
				</div>

				<div class="col-sm-2">
					<button class="btn btn-flat btn-primary" id="btn-add" type="button" ng-click="addOption()">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</div>

		<div class="form-group has-feedback">
			<label for="default" class="col-sm-2 control-label">Nilai Default</label>

			<div class="col-sm-10">
				<input type="number" id="default" class="form-control" ng-model="default" placeholder="Input Nilai Default">
			</div>
		</div>

		<div class="form-group has-feedback">
			<label for="max" class="col-sm-2 control-label">Nilai Maksimal</label>

			<div class="col-sm-10">
				<input type="number" id="max" class="form-control" ng-model="max" placeholder="Input Nilai Maksimal">
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox" id="status" name="status">
					<label>
						<input type="checkbox" ng-model="status"> Aktif
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="box-footer">
		<div class="pull-left">
			<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
		</div>

		<div class="pull-right">
			<button class="btn btn-primary" type="Submit">Submit</button>
		</div>
	</div>
</form>
