<div class="box-header">
	<h3 class="box-title">Edit Survey</h3>
</div>

<form name="myForm" class="form-horizontal" ng-submit="updateSurvey()">
	<div class="box-body">
		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
			<label for="question" class="col-sm-2 control-label">Pertanyaan</label>

			<div class="col-sm-10">
				<input type="text" id="question" class="form-control" ng-model="survey.question" placeholder="Input Pertanyaan">
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorType }">
			<label for="question_type" class="col-sm-2 control-label">Tipe</label>

			<div class="col-sm-10">
				<select ui-select2 name="question_type" id="question_type" class="form-control select2" ng-model="survey.question_type">
					<option value="questionnaire">Kuisioner</option>
					<option value="rate">Penilaian</option>
				</select>
			</div>
		</div>

		<div id="divOption">
			<div class="form-group has-feedback" id="groupOption0" data-number="0">
				<label id="labelOption" for="value0" class="col-sm-2 control-label">Option</label>

				<div class="col-sm-4" id="inputValue0">
					<input type="text" id="value0" class="form-control" placeholder="Input Value">
				</div>

				<div class="col-sm-4" id="inputText0">
					<input type="text" id="text0" class="form-control" placeholder="Input Text">
				</div>

				<div class="col-sm-2">
					<button class="btn btn-flat btn-primary" id="btn-add" type="button" ng-click="addOption()">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</div>

		<div id="divOld">
			<div class="form-group has-feedback" id="groupOption" data-number="" ng-repeat="(key, option) in survey.options">
				<div class="col-sm-offset-2 col-sm-4" id="inputValue">
					<input type="text" id="valueOld{{ key }}" value="{{ option.value }}" class="form-control" placeholder="Input Value">
				</div>

				<div class="col-sm-4" id="inputText">
					<input type="text" id="textOld{{ key }}" value="{{ option.text }}" class="form-control" placeholder="Input Text">
				</div>

				<div class="col-sm-2">
					<button class="btn btn-flat btn-danger" id="btn-remove" type="button">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorDefault }">
			<label for="default" class="col-sm-2 control-label">Nilai Default</label>

			<div class="col-sm-10">
				<textarea name="default" id="default" class="form-control" rows="3" ng-model="survey.default" placeholder="Input Nilai Default"></textarea>
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorMax }">
			<label for="max" class="col-sm-2 control-label">Nilai Maksimal</label>

			<div class="col-sm-10">
				<input type="text" id="max" class="form-control" ng-model="survey.max" placeholder="Input Nilai Maksimal">
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox" id="status" name="status">
					<label>
						<input type="checkbox" ng-model="status"> Aktif
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="box-footer">
		<div class="pull-left">
			<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
		</div>

		<div class="pull-right">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
	</div>
</form>
