<!-- ==header -->
<section class="content-header">
	<h1>
		Home
	</h1>

	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-check-sqare"></i> Home</a></li>
		<li class="active">Survey</li>
	</ol>
</section>

<!-- ==content -->
<section class="content">
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li ng-class="{ active: isActive('/app/survey/question') }"><a ui-sref="app.survey.question.index" data-toggle="tab">Survey</a></li>
			<li ng-class="{ active: isActive('/app/survey/answer') }"><a ui-sref="app.survey.answer.index" data-toggle="tab">Jawaban</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active">
				<div ui-view="surveyContent" bs-loading-overlay class="contentRelative"></div>
			</div>
		</div>
	</div>
</section>
