<div class="box-header">
	<h3 class="box-title">Detail Merchants</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="merchant.name" readonly>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="image" class="col-sm-2 control-label">Gambar</label>
		
		<div class="col-sm-10">
			<img ng-src="{{ baseUrl + merchant.img }}" width="55px">
		</div>

		<!-- <div class="col-sm-offset-2 col-sm-10">
			<img ng-if="imgFile == null" class="thumb" ng-src="{{ merchant.img }}">
			<img ngf-thumbnail="imgFile" class="thumb"> <button ng-click="imgFile = null" ng-show="imgFile" type="button" class="btn btn-xs btn-danger">Remove</button>
		</div> -->
	</div>

	<div class="form-group has-feedback">
		<label for="description" class="col-sm-2 control-label">Deskripsi</label>

		<div class="col-sm-10">
			<textarea name="description" id="description" class="form-control" rows="3" ng-model="merchant.description" readonly></textarea>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label for="status" class="col-sm-2 control-label">Status</label>

		<div class="col-sm-10">
			<input type="text" id="status" class="form-control" ng-model="merchant.status_" readonly>
		</div>
	</div>

	<div class="detail-content" ng-bind-html="renderHtml(merchant.content)"></div>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>
</div>
