
 <section class="content" style="min-height:750px" bs-loading-overlay>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="pull-left" style="font-size:15px;font-weight:bolder;">Travel Agency</div>

          <a class="btn btn-primary btn-sm pull-right" ng-click="addAgency()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Agency
          </a>
        </div>
        <div class="box-body">
          <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-hover"></table>
        </div>
      </div>
    </div>
  </div> 
</section>  