<div class="col-xs-12" bs-loading-overlay>
	<div class="box">
		<div growl></div>
		<div class="box-body">
			<div class="box-header with-border">
				<h3 class="box-title">Agency Form</h3>
			</div>
			<div class="box-body form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : travel_name}">Nama Travel</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : travel_name}">
						<input type="text" class="form-control"  ng-model="agency.name" placeholder="Enter agency name">
					</div>
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : provinsiAddress}">Provinsi</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : provinsiAddress}">
						<select ui-select2 ng-model="provinc" name="pro" id="pro" class="form-control" ng-options="pro.province for pro in province" ng-change="getRegency(provinc.id)">						
						</select>
					</div> 
				</div>

				<div class="form-group">  
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : kota}">Kota/Kabupaten</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : kota}">
						<select ui-select2 ng-model="city" name="reg" id="reg" class="form-control" ng-options="reg.regency for reg in regency" ng-change="getDistrict(city.id)" >
						</select>
					</div>
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : dist}">Kecamatan</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : dist}">
						<select ui-select2 ng-model="destrict" name="dist" id="dist" class="form-control" ng-options=" dist.district for dist in district" ng-change="getZone(destrict.id)" >
						</select>
					</div>          
				</div>     
				<div class="form-group">  
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : vill}">Kelurahan</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : vill}">
						<select ui-select2 ng-model="village" name="zon" id="zon" class="form-control" ng-options="zon.village for zon in zone">
						</select>
					</div>   
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : agenaddress}">Alamat kantor pusat</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : agenaddress}">
						<input type="text" class="form-control"  ng-model="agency.address" placeholder="Alamat kantor pusat">
					</div>          
				</div> 
				<div class="form-group">  
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : picname}">Pic travel</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : picname}">
						<input type="text" class="form-control"  ng-model="agency.pic_name" placeholder="Enter pic name">
					</div>   
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : pichp}">Pic hp</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : pichp}">
						<input type="text" class="form-control"  ng-model="agency.pic_hp" placeholder="Enter pic hp">
					</div>          
				</div> 
				<div class="form-group">  
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : umrlicense}">no ijin umroh</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : umrlicense}">
						<input type="text" class="form-control"  ng-model="agency.umroh_license" placeholder="Enter umroh license">
					</div>   
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : hjlicense}">no ijin haji khusus</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : hjlicense}">
						<input type="text" class="form-control"  ng-model="agency.hajj_license" placeholder="Enter mobile number">
					</div>          
				</div> 
				<div class="form-group">  
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : license}">no ijin pariwisata</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : license}">
						<input type="text" class="form-control"  ng-model="agency.travel_license" placeholder="Enter travel license">
					</div>   
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : asita}">No ASITA</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : asita}">
						<input type="text" class="form-control"  ng-model="agency.asita_no" placeholder="Enter mobile number">
					</div>          
				</div> 
				<div class="form-group">  
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : associ}">assosiasi keanggotaan haji & umroh</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : associ}">
						<select ui-select2 ng-model="agency.association" name="type" id="type" class="form-control" ng-options="asso.name as asso.name for asso in association">		
						</select>
					</div>   
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : iata}">No IATA</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : iata}">
						<input type="text" class="form-control"  ng-model="agency.iata_no" placeholder="Enter iata no">
					</div>          
				</div>
				<div class="form-group">  
					<label for="name" class="col-sm-2 control-label" ng-class="{ 'has-error' : agrement}">PKS dengan BNI Syariah</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : agrement}">
						<input type="text" class="form-control"  ng-model="agency.agreement" placeholder="Enter agreement">
					</div>   
					<label for="agreement_start_date" class="col-sm-2 control-label" ng-class="{ 'has-error' : startDate}">Tanggal PKS</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : startDate}">
						<input type="text" id="agreement_start_date" class="form-control datepicker" ng-model="agency.agreement_start_date" placeholder="Tanggal PKS">
					</div>        
				</div>  
				<div class="form-group" >    
					<label for="agreement_end_date" class="col-sm-2 control-label" ng-class="{ 'has-error' : endDate}">agreement_end_date</label>
					<div class="col-sm-3" ng-class="{ 'has-error' : endDate}">
						<input type="text" id="agreement_end_date" class="form-control datepicker" ng-model="agency.agreement_end_date" placeholder="tanggal berakhir PKS">
					</div>        
				</div>
			</div> 
		</div>

		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title col-sm-3">Logo travel</h3>
			</div>
			<div class="box-body form-horizontal">
				<div class="form-group has-feedback" ng-class="{ 'has-error' : errorImg }">
					<label for="image" class="col-sm-2 control-label">Image</label>

					<div class="col-sm-10">
						<label class="btn btn-primary" for="file">
							<input type="file" ng-model="agency.logo_img" name="file" id="file" accept="image/*" style="display:none;" base-sixty-four-input>
							Browse
						</label>

						<span class="text-muted" ng-if="agency.logo_img == null">Pilih sebuah gambar</span>
						<span class="text-muted" ng-if="agency.logo_img">{{ agency.logo_img.filename }}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title col-sm-3">Portfolio </h3>
			</div>
			<div class="box-body form-horizontal">
				<div id="divImg">
					<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPortfolio}">
						<label for="image" class="col-sm-2 control-label">Images</label>

						<div class="col-sm-10">
							<label class="btn btn-primary" for="file0">
								<input type="file" ng-model="agency.portfolio_img_file[0]" name="file0" id="file0" accept="image/*" style="display:none;" base-sixty-four-input>
								Browse
							</label>

							<button class="btn btn-flat btn-primary" id="btn-add" type="button" ng-click="addImg()">
								<i class="fa fa-plus"></i>
							</button>

							<span class="text-muted" ng-if="agency.portfolio_img_file[0] == null">Pilih sebuah gambar</span>
							<span class="text-muted" ng-if="agency.portfolio_img_file[0]">{{ agency.portfolio_img_file[0].filename }}</span>
						</div>

						<div class="col-sm-offset-2 col-sm-10" ng-if="agency.portfolio_img_file[0]">
							<img ng-src="data:image;base64,{{ agency.portfolio_img_file[0].base64 }}" class="thumb">
						</div>
					</div>
				</div>

				<div id="divImgOld">
					<div class="form-group has-feedback" ng-repeat="img in old_portfolio_img">
						<div class="col-sm-offset-2 col-sm-10" ng-if="agency.portfolio_img[img]">
							<img ng-src="{{ baseUrl + agency.portfolio_img[img] }}" class="thumb" id="fileOld{{ img }}">

							<button class="btn btn-flat btn-danger" id="btn-remove" type="button">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="box-footer">  
			<div class="form-group"> 
				<div class="col-sm-8">
					<button class="btn btn-primary btn-sm pull-right" ng-click="manageAgency()" ng-if="!update">
						Save
					</button>
					<button class="btn btn-success btn-sm pull-right" ng-click="manageAgency()" ng-if="update">
						Update
					</button>
					<button class="btn btn-warning btn-sm pull-right" ng-click="cancel()" style="margin-right: 10px;">
						Cancel
					</button>
				</div>
			</div>
		</div>
	</div>
</div>