<div class="wrapper">
	<!-- ==header -->
	<header class="main-header">
		<!-- ==logo -->
		<a ui-sref="app.home.slide.index" class="logo">
			<span class="logo-mini"><b>H</b>L</span>
			<span class="logo-lg"><b>Hasanah</b>Lifestyle</span>
		</a>

		<!-- ==navbar -->
		<nav class="navbar navbar-static-top">
			<!-- ==navbar toggle -->
			<a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<!-- ==navbar custom -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- ==navbar messages -->
					<!-- <li class="dropdown messages-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-envelope-o"></i>
							<span class="label label-success">4</span>
						</a>

						<ul class="dropdown-menu">
							<li class="header">Anda memiliki 4 pesan</li>

							<li>
								<ul class="menu">
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="img/avatar.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												Support Team
												<small><i class="fa fa-clock-o"></i> 5 mins</small>
											</h4>
											<p>Beli tahu bulat dimana?</p>
										</a>
									</li>
								</ul>
							</li>

							<li class="footer"><a href="#">Lihat Semua Pesan</a></li>
						</ul>
					</li> -->
					
					<!-- ==navbar notifications -->
					<!-- <li class="dropdown notifications-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bell-o"></i>
							<span class="label label-warning">10</span>
						</a>

						<ul class="dropdown-menu">
							<li class="header">Anda memiliki 10 pemberitahuan</li>

							<li>
								<ul class="menu">
									<li>
										<a href="#">
											<i class="fa fa-users text-aqua"></i> 5 pelanggan baru tahu bulat
										</a>
									</li>
								</ul>
							</li>

							<li class="footer"><a href="#">Lihat Semua</a></li>
						</ul>
					</li> -->
					
					<!-- ==navbar tasks -->
					<!-- <li class="dropdown tasks-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-flag-o"></i>
							<span class="label label-danger">9</span>
						</a>

						<ul class="dropdown-menu">
							<li class="header">Anda memiliki 9 tugas</li>

							<li>
								<ul class="menu">
									<li>
										<a href="#">
											<h3>
												Beli Tahu Bulat
												<small class="pull-right">20%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">20% Complete</span>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</li>

							<li class="footer">
								<a href="#">Lihat Semua Tugas</a>
							</li>
						</ul>
					</li> -->

					<!-- ==navbar user -->
					<li class="dropdown user user-menu">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<img src="img/avatar.jpg" class="user-image" alt="User Image">
							<span class="hidden-xs">{{ displayName }}</span>
						</a>

						<ul class="dropdown-menu">
							<li class="user-header">
								<img src="img/avatar.jpg" class="img-circle" alt="User Image">

								<p>
									{{ displayName }} - {{ displayType }}
									<!-- <small>Anggota sejak Nov. 2014</small> -->
								</p>
							</li>

							<!-- <li class="user-body">
								<div class="row">
									<div class="col-xs-4 text-center">
										<a href="#">Followers</a>
									</div>

									<div class="col-xs-4 text-center">
										<a href="#">Sales</a>
									</div>

									<div class="col-xs-4 text-center">
										<a href="#">Friends</a>
									</div>
								</div>
							</li> -->

							<li class="user-footer">
								<!-- <div class="pull-left">
									<a href="" class="btn btn-default btn-flat">Profil</a>
								</div> -->

								<div class="pull-right">
									<a href="#" class="btn btn-default btn-flat" ng-click="doLogout()">Logout</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- ==sidebar -->
	<aside class="main-sidebar">
		<section class="sidebar">
			<!-- ==user panel -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="img/avatar.jpg" class="img-circle" alt="User Image">
				</div>

				<div class="pull-left info">
					<p>{{ displayName }}</p>
					<a href=""><i class="fa fa-circle text-success"></i> Online</a>
				</div>
			</div>

			<!-- ==search form -->
			<!-- <form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search...">

					<span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form> -->

			<!-- ==sidebar menu -->
			<ul class="sidebar-menu">
				<li class="header">MAIN NAVIGATION</li>
				<!-- prince -->
				<li ng-class="{ active: isActive(link.url) }" ng-repeat="link in links">
					<a ui-sref="{{link.state}}"><i class="{{link.icon}}"></i> <span>{{link.name}}</span></a>
				</li>
				<!-- <li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/home') }">
					<a ui-sref="app.home.slide.index"><i class="fa fa-home"></i> <span>Home</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/product') }">
					<a ui-sref="app.product.index"><i class="fa fa-star"></i> <span>Produk</span></a>
				</li>
				
				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/branch') }">
					<a ui-sref="app.branch.index"><i class="fa fa-sitemap"></i> <span>Cabang</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/merchant') }">
					<a ui-sref="app.merchant.index"><i class="fa fa-shopping-basket"></i> <span>Merchants</span></a>
				</li>

				<li ng-class="{ active: isActive('/app/umroh/') }">
					<a ui-sref="app.umroh.index"><i class="fa fa-suitcase"></i> <span>Umroh</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN' || displayType == 'ADMIN CABANG'" ng-class="{ active: isActive('/app/property/') }">
					<a ui-sref="app.property.index"><i class="fa fa-building"></i> <span>Properti</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/calculator') }">
					<a ui-sref="app.calculator.index"><i class="fa fa-calculator"></i> <span>Kalkulator Pembiayaan</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/filing') }">
					<a ui-sref="app.filing.finance.index"><i class="fa fa-money"></i> <span>Pengajuan Pembiayaan</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/article') }">
					<a ui-sref="app.article.category.index"><i class="fa fa-file-text"></i> <span>Artikel</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/term') }">
					<a ui-sref="app.term.index"><i class="fa fa-list"></i> <span>Istilah</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/promo') }">
					<a ui-sref="app.promo.index"><i class="fa fa-bullhorn"></i> <span>Promo</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/survey') }">
					<a ui-sref="app.survey.question.index"><i class="fa fa-check-square"></i> <span>Survey</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/suggestion') }">
					<a ui-sref="app.suggestion.index"><i class="fa fa-envelope"></i> <span>Saran</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/user') }">
					<a ui-sref="app.user.index"><i class="fa fa-users"></i> <span>User</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/umrohRegister') }">
					<a ui-sref="app.umrohRegister"><i class="fa fa-cube"></i> <span>Pendaftaran Umroh</span></a>
				</li>

				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/propertyRegister') }">
					<a ui-sref="app.propertyRegister"><i class="fa fa-building"></i> <span>Pendaftaran Properti</span></a>
				</li>
				<li ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/travelAgency') }">
					<a ui-sref="app.travelAgency"><i class="fa fa-building"></i> <span>Travel Agency</span></a>
				</li> -->
			</ul>
			<!-- <ul class="sidebar-menu" ng-if="displayType == 'ADMIN'">
				<li class="header">SETTING</li>

				<li ng-class="{ active: isActive('/app/settingUser') }">
					<a ui-sref="app.settingUser.index"><i class="fa fa-gear"></i> <span>Setting User</span></a>
				</li>

				<li ng-class="{ active: isActive('/app/settingCity') }">
					<a ui-sref="app.settingCity.index"><i class="fa fa-gear"></i> <span>Setting Kota</span></a>
				</li>

				<li ng-class="{ active: isActive('/app/settingEmail') }">
					<a ui-sref="app.settingEmail"><i class="fa fa-gear"></i> <span>Setting Email</span></a>
				</li>

				<li ng-class="{ active: isActive('/app/roles') }">
					<a ui-sref="app.role"><i class="fa fa-gear"></i> <span>Setting Role</span></a>
				</li>
			</ul> -->
			<!-- prince -->
				<!-- <li class="treeview" ng-if="displayType == 'ADMIN'" ng-class="{ active: isActive('/app/settingUser') || isActive('/app/settingCity') || isActive('/app/umrohRegister') || isActive('/app/propertyRegister') }">
					<a href="">
						<i class="fa fa-gear"></i> <span>Setting</span>

						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>

					<ul class="treeview-menu">
						<li ng-class="{ active: isActive('/app/settingUser') }">
							<a ui-sref="app.settingUser.index"><i class="fa fa-circle-o"></i> User</a>
						</li>
					</ul>

					<ul class="treeview-menu">
						<li ng-class="{ active: isActive('/app/settingCity') }">
							<a ui-sref="app.settingCity.index"><i class="fa fa-circle-o"></i> Kota</a>
						</li>
					</ul>

					<ul class="treeview-menu">
						<li ng-class="{ active: isActive('/app/settingEmail') }">
							<a ui-sref="app.settingEmail"><i class="fa fa-circle-o"></i> Email</a>
						</li>
					</ul>

					<ul class="treeview-menu">
						<li ng-class="{ active: isActive('/app/umrohRegister') }">
							<a ui-sref="app.umrohRegister"><i class="fa fa-circle-o"></i> Pendaftaran Umroh</a>
						</li>
					</ul>

					<ul class="treeview-menu">
						<li ng-class="{ active: isActive('/app/propertyRegister') }">
							<a ui-sref="app.propertyRegister"><i class="fa fa-circle-o"></i> Pendaftaran Properti</a>
						</li>
					</ul>
				</li> -->

				<!-- <li ng-class="{ active: isActive('/app/calendar') }">
					<a ui-sref="app.calendar.index"><i class="fa fa-calendar"></i> <span>Kalender Kegiatan</span></a>
				</li>

				<li ng-class="{ active: isActive('/app/schedule') }">
					<a ui-sref="app.schedule.index"><i class="fa fa-clock-o"></i> <span>Jadwal Siaran</span></a>
				</li>

				<li ng-class="{ active: isActive('/app/stream') }">
					<a ui-sref="app.stream.index"><i class="fa fa-video-camera"></i> <span>Stream</span></a>
				</li>

				<li ng-class="{ active: isActive('/app/gallery') }">
					<a ui-sref="app.gallery.album.index"><i class="fa fa-camera-retro"></i> <span>Gallery</span></a>
				</li>

				<li ng-class="{ active: isActive('/app/donation') }">
					<a ui-sref="app.donation.index"><i class="fa fa-heart"></i> <span>Donasi</span></a>
				</li>

				<li ng-class="{ active: isActive('/app/report') }">
					<a ui-sref="app.report.index"><i class="fa fa-archive"></i> <span>Laporan</span></a>
				</li> -->
			</ul>
		</section>
	</aside>

	<!-- ==content -->
	<div class="content-wrapper" ui-view="appContent"></div>

	<!-- ==footer -->
	<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 1.0.0
		</div>
		
		<strong>Copyright &copy; 2016 <a href="">Hasanah Mitra Teknologi</a>.</strong> All rights reserved.
	</footer>
</div>