<div id="myModal">
	<div class="modal-header" style="border-style:none;">
		<button ng-click="cancel()" class="btn btn-danger pull-right" ng-disabled="loader">
        	<i class="fa fa-times"></i>
      	</button>
		<h4 class="modal-title"><b>Please enter the tracking ID</b></h4>      	
	</div>
	<div class="modal-dialog modal-body" style="padding:15px;margin:auto;width:100%">
		<div class="box box-primary">
	      	<div class="box-body">
	      		<div class="form-group row" ng-class="{ 'has-error' : companyName }">  
		            <div class="col-xs-12">
		               <input type="text" class="form-control" ng-model="obj.company_name" placeholder="Enter company name....">
		            </div>
	            </div><br/>
	            <div class="form-group row" ng-class="{ 'has-error' : error }">  
		            <div class="col-xs-12">
		               <input type="text" class="form-control" ng-model="obj.tracking_id" placeholder="Enter tracking no....">
		            </div>
	            </div>
	        </div>
            <div class="box-footer">
            	<button class="btn btn-success pull-right" style="margin-left:1%" ng-click="update()">Update Order</button>  
            </div>     
		</div>	
	</div>
</div>