<div class="content">
  <section class="content-header">
    <h1 style="display:inline;font-size: 18px;">
      Package List
    </h1>
    <!-- <button ng-click="refresh()" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-refresh"></i></button> -->
    <div class="col-sm-12">
    	<div class="row">
        <label for="firstName" class="col-sm-2 control-label">Select Users</label>
        <div class="col-sm-3">
        	<select class="form-control" ng-model="user.name" ng-options='user.id as user.name for user in users' ng-change="getUsers(user.id)">
          	<option value="" disabled selected style="display: none;">Please Select A Class</option>
        	</select>
        </div>
      </div>
    </div>
    </br></br>
    </br>
      <div class="box-body" style="padding-bottom: 0px;">
        <div class="row" ng-repeat="productList in productsList">
          <div class="col-sm-12" style="border-bottom: 1px;border-bottom-style: solid;margin-bottom: 10px; border-bottom-color: #d2d6de;">
            <div class="col-sm-4">
              <p class="pull-left">
                <img src="{{ baseUrl + productList.img }}" class="thumbnail" style="max-height:200px;margin:auto;"/>
              </p>
            </div>                          
            <div class="col-sm-4" style="text-align: center;border-right: 1px solid #d2d6de;border-left: 1px solid #d2d6de;margin-bottom: 10px;">
                <p class="title">Kota</p>
                <h5>{{productList.city}}</h5>
                <p class="title">Keberangkatan</p>
                <h5>{{productList.departure}}</h5>
            </div>
            <div class="col-sm-4">
              <p style="color: #fe9529;font-weight: bold;">Rp.<span>{{productList.price}} </span>jT</p>
              <p><span>{{productList.quota}} </span>kursi tersedia</p>
            </div>    
          </div>
        </div>  
      </div>
    <div class="row" ng-show="students.length>0">
      <div class="col-sm-12">
        <button type="button" class="btn btn-success btn-lg pull-right" ng-click="saveAttendance()">Save attendance</button>
      <br/><br/>
      </div>
    </div>
  </section>
 </div>