<!-- ==header -->
<section class="content-header">
	<h1>
		Pendaftaran Umroh
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-cube"></i> Home</a></li>
		<li class="active">User</li>
	</ol>
</section>

<!-- ==content -->
<section class="content">
	<div class="box box-primary" bs-loading-overlay>
		<div class="box-header">
			<h3 class="box-title">Data Pendaftaran Umroh</h3>
			
			<!-- <span class="pull-right">
				<button class="btn btn-success" ng-click="reloadData()">
					<i class="fa fa-refresh"></i> Refresh
				</button>
				
				<a ui-sref="app.settingUser.create">	
					<button class="btn btn-primary">
						<i class="fa fa-plus"></i> Tambah
					</button>
				</a>
			</span> -->

			<span class="pull-right">
				<button class="btn btn-primary" type="button" ng-disabled="emptyCsv" ng-csv="getArray" csv-header="['No.', 'Nama', 'Tanggal', 'Jenis Kelamin', 'Alamat', 'No.Telp', 'Umroh', 'Cabang Terdekat']" filename="umrohregister.csv">
					<i class="fa fa-file-excel-o"></i> Export
				</button>

				<!-- <button class="btn btn-success" ng-click="createOrder()">
					<i class="fa fa-refresh"></i> Create Order
				</button> -->

				<button class="btn btn-success" ng-click="reloadData()">
					<i class="fa fa-refresh"></i> Refresh
				</button>
			</span>

			<span class="form-horizontal pull-right daterange-form">
				<div class="form-group has-feedback">
					<label for="daterange" class="col-sm-2 control-label">Tanggal</label>

					<div class="col-sm-10">
						<input type="text" id="daterange" class="form-control" ng-model="daterange" placeholder="Pilih Tanggal">
					</div>
				</div>
			</span>
		</div>

		<div class="box-body table-responsive no-padding">
			<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-hover"></table>
		</div>
	</div>
</section>