<div class="box-header">
	<h3 class="box-title">Tambah Pembiayaan</h3>
</div>

<div class="box-body form-horizontal">
	<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
		<label for="name" class="col-sm-2 control-label">Nama</label>

		<div class="col-sm-10">
			<input type="text" id="name" class="form-control" ng-model="name" placeholder="Input Nama">
		</div>
	</div>

	<!-- <div class="form-group has-feedback" ng-class="{ 'has-error' : errorDp }">
		<label for="dp" class="col-sm-2 control-label">DP</label>

		<div class="col-sm-10">
			<input type="number" step="0.1" id="dp" class="form-control" ng-model="dp" placeholder="Input DP">
		</div>
	</div> -->

	<div id="divMargin">
		<div class="divJob">
			<div class="form-group" id="groupJob0">
				<label id="labelJob0" for="job0" class="col-sm-2 control-label">Jenis Pekerjaan / % DP</label>

				<div class="col-sm-4" id="inputJob0">
					<input type="text" id="job0" class="form-control" placeholder="Input Jenis Pekerjaan">
				</div>

				<div class="col-sm-4" id="inputDp0">
					<input type="text" id="dp0" class="form-control" placeholder="Input % DP">
				</div>

				<div class="col-sm-2">
					<button class="btn btn-flat btn-primary" id="btn-add" type="button" ng-click="addJob()">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
			
			<div class="divRate0">
				<div class="form-group" id="groupRate00">
					<label id="labelRate00" for="period00" class="col-sm-offset-2 col-sm-2 control-label">% Margin</label>

					<div class="col-sm-3" id="inputRate00">
						<input type="text" id="period00" class="form-control" placeholder="Input Period">
					</div>

					<div class="col-sm-3" id="inputMargin00">
						<input type="text" id="margin00" class="form-control" placeholder="Input % Margin">
					</div>

					<div class="col-sm-2">
						<button class="btn btn-flat btn-primary" id="btn-add" type="button" ng-click="addMargin(0)">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-footer">
	<div class="pull-left">
		<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
	</div>

	<div class="pull-right">
		<button class="btn btn-primary" ng-click="insertCalculator()" type="button">Submit</button>
	</div>
</div>
