<!-- ==header -->
<section class="content-header">
	<h1>
		Cabang
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-sitemap"></i> Home</a></li>
		<li class="active">Cabang</li>
	</ol>
</section>

<!-- ==content -->
<section class="content">
	<div class="box box-primary">
		<div ui-view="branchContent" bs-loading-overlay></div>
	</div>
</section>
