<div class="box-header">
	<h3 class="box-title">Tambah Cabang</h3>
</div>

<form name="myForm" class="form-horizontal" ng-submit="insertBranch()">
	<div class="box-body">
		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorName }">
			<label for="name" class="col-sm-2 control-label">Nama</label>

			<div class="col-sm-10">
				<input type="text" id="name" class="form-control" ng-model="name" placeholder="Input Nama">
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorImg }">
			<label for="image" class="col-sm-2 control-label">Gambar</label>
			
			<div class="col-sm-10">
				<label class="btn btn-primary" for="file">
					<!-- <input type="file" ngf-select ng-model="imgFile" name="file" id="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" style="display:none;"> -->
					<input type="file" ng-model="imgFile" name="file" id="file" accept="image/*" maxsize="2000" style="display:none;" base-sixty-four-input>
					Browse
				</label>

				<span class="text-muted" ng-if="imgFile == null">*Ukuran yang dianjurkan 375 x 200 (.jpg)</span>
				<span class="text-muted" ng-if="imgFile">{{ imgFile.filename }}</span>
			</div>

			<!-- <div class="col-sm-offset-2 col-sm-10">
				<img ngf-thumbnail="imgFile" class="thumb"> <button ng-click="imgFile = null" ng-show="imgFile" type="button" class="btn btn-xs btn-danger">Remove</button>
			</div> -->
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorAddress }">
			<label for="address" class="col-sm-2 control-label">Alamat</label>

			<div class="col-sm-10">
				<textarea name="address" id="address" class="form-control" rows="3" ng-model="address" placeholder="Input Alamat"></textarea>
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPostcode }">
			<label for="postcode" class="col-sm-2 control-label">Kode Pos</label>

			<div class="col-sm-10">
				<input type="text" id="postcode" class="form-control" ng-model="postcode" placeholder="Input Kode Pos">
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorProvince }">
			<label for="province" class="col-sm-2 control-label">Provinsi</label>

			<div class="col-sm-10">
				<input type="text" id="province" class="form-control" ng-model="province" placeholder="Input Provinsi">
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorPhone }">
			<label for="phone" class="col-sm-2 control-label">Nomor Telepon</label>

			<div class="col-sm-10">
				<input type="text" id="phone" class="form-control" ng-model="phone" placeholder="Input Nomor Telepon">
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : errorLocation }">
			<label for="location" class="col-sm-2 control-label">Lokasi</label>

			<div class="col-sm-10">
				<input type="text" id="location" class="form-control" ng-model="location" placeholder="Input Lokasi">
			</div>
		</div>

		<div class="form-group has-feedback">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox" id="status" name="status">
					<label>
						<input type="checkbox" ng-model="status"> Aktif
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="box-footer">
		<div class="pull-left">
			<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
		</div>

		<div class="pull-right">
			<button class="btn btn-primary" type="Submit">Submit</button>
		</div>
	</div>
</form>
