<div class="box-header">
	<h3 class="box-title">Detail Cabang</h3>
</div>

<form name="myForm" class="form-horizontal" ng-submit="updateBranch()">
	<div class="box-body">
		<div class="form-group has-feedback">
			<label for="name" class="col-sm-2 control-label">Nama</label>

			<div class="col-sm-10">
				<input type="text" id="name" class="form-control" ng-model="branch.name" readonly>
			</div>
		</div>

		<div class="form-group has-feedback">
			<label for="image" class="col-sm-2 control-label">Gambar</label>
			
			<div class="col-sm-10">
				<img ng-src="{{ baseUrl + branch.img }}" width="150px">
			</div>

			<!-- <div class="col-sm-offset-2 col-sm-10">
				<img ng-if="imgFile == null" class="thumb" ng-src="{{ branch.img }}">
				<img ngf-thumbnail="imgFile" class="thumb"> <button ng-click="imgFile = null" ng-show="imgFile" type="button" class="btn btn-xs btn-danger">Remove</button>
			</div> -->
		</div>

		<div class="form-group has-feedback">
			<label for="address" class="col-sm-2 control-label">Alamat</label>

			<div class="col-sm-10">
				<textarea name="address" id="address" class="form-control" rows="3" ng-model="branch.address" readonly></textarea>
			</div>
		</div>

		<div class="form-group has-feedback">
			<label for="postcode" class="col-sm-2 control-label">Kode Pos</label>

			<div class="col-sm-10">
				<input type="text" id="postcode" class="form-control" ng-model="branch.postcode" readonly>
			</div>
		</div>

		<div class="form-group has-feedback">
			<label for="province" class="col-sm-2 control-label">Provinsi</label>

			<div class="col-sm-10">
				<input type="text" id="province" class="form-control" ng-model="branch.province" readonly>
			</div>
		</div>

		<div class="form-group has-feedback">
			<label for="phone" class="col-sm-2 control-label">Nomor Telepon</label>

			<div class="col-sm-10">
				<input type="text" id="phone" class="form-control" ng-model="branch.phone" readonly>
			</div>
		</div>

		<div class="form-group has-feedback">
			<label for="location" class="col-sm-2 control-label">Lokasi</label>

			<div class="col-sm-10">
				<input type="text" id="location" class="form-control" ng-model="branch.location" readonly>
			</div>
		</div>

		<div class="form-group has-feedback">
			<label for="status" class="col-sm-2 control-label">Status</label>

			<div class="col-sm-10">
				<input type="text" id="status" class="form-control" ng-model="branch.status_" readonly>
			</div>
		</div>
	</div>

	<div class="box-footer">
		<div class="pull-left">
			<button class="btn btn-default" ng-click="goBack()" type="button">Kembali</button>
		</div>
	</div>
</form>
